<form [formGroup]="form" (ngSubmit)="submit()">
    <!-- <label formArrayName="orders2" *ngFor="let order of productFormArray.controls; let i = index">
      <input type="checkbox" [formControlName]="i">
      {{productdata[i].name}}
    </label>
    <button>submit</button> -->
    <div class="row"  class="search-results" infiniteScroll
    [infiniteScrollDistance]="0.01" [scrollWindow]="false" [infiniteScrollThrottle]="500"
    [alwaysCallback]="true" (scrolled)="onScrollDown($event)">
    <div class="col-md-12 stretch-card grid-margin table-data">
    <table class="table">
        <th>
            <!-- <mat-checkbox class="example-margin" matRipple></mat-checkbox> -->
            <!-- <input  class="form-control" type="checkbox"> -->
        </th>
        <th>ID</th>
        <th>Name</th>
        <th>SKU</th>
        <th>Default Price</th>
        <tr formArrayName="orders" *ngFor="let list of productFormArray.controls; let i = index" (click)="savedata(productdata[i])">
            <!-- <td> -->
                <!-- <mat-checkbox [formControlName]="i" class="example-margin" matRipple></mat-checkbox> -->
                <!-- <input class="form-control"  type="checkbox" [formControlName]="i"></td> -->
            <td>{{productdata[i]?.id}}</td>
            <td>{{productdata[i]?.name}}</td>
            <td>{{productdata[i]?.sku}}</td>
            <td>{{productdata[i]?.channel_currency_product_price?.price}}</td>
        </tr>
    </table>
</div>
    </div>
    <div *ngIf="!productdata?.length">
        <ngx-skeleton-loader style="width: 100%;" *ngFor="let item of [1,2,3,4]">
        </ngx-skeleton-loader>
    </div>
    <button (click)="cancel()" class="button btn-light">Cancel</button>
    <!-- <button class="button btn-light">Save</button> -->
  </form>

