::ng-deep .ng-invalid.ng-touched.ng-pristine .ng-select-container  {            
    min-height: 0px;
    border-radius: 2px; border:#f44336 2px solid;
}
::ng-deep .ng-touched.ng-invalid.ng-dirty .ng-select-container  {            
    min-height: 0px;
    border-radius: 2px; border:#f44336 2px solid;
}
::ng-deep .ng-touched.ng-valid.ng-dirty .ng-select-container  {            
    min-height: 0px;
    border-radius: 2px; border:#ccc 2px solid;
}
/*ng-select.ng-invalid.ng-touched .ng-select-container .ng-input{
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}*/


.add_addresswrap::ng-deep .ng-select.ng-select-single .ng-select-container {height: 39px;margin-top: 5px;}