<section class="right-part filter-pad inner_listing">
 	<div class="topheading">
	 	<h1>Manage {{childData.heading}}
			<div class="btn-header hidden-xs">
			</div>
			<div class="clear"></div>
		</h1>
  </div>
  <div class="filter ls">
	<div class="btn-header hidden-xs">
	</div>
	<div class="btn-filter"> 
	  <button mat-icon-button [matMenuTriggerFor]="tools" matTooltip="Setings"  class="btn-pink-active"><mat-icon  class="icon-menu"></mat-icon></button>
	  <mat-menu #tools="matMenu" xPosition="before" [overlapTrigger]="false">
		<button mat-menu-item (click)="generateGrid(1,page,'',filter,search.value,1)"><mat-icon  class="icon-export"></mat-icon> Export</button>
	  </mat-menu>

	  <button mat-icon-button [matMenuTriggerFor]="columns" matTooltip="Show Columns"  class="btn-pink-active"><mat-icon  class="icon-columns"></mat-icon></button>
	  <mat-menu #columns="matMenu" multiple [overlapTrigger]="false" prevent-close>
		 <mat-list-item (click)="$event.stopPropagation()" *ngFor="let col of cols"><mat-checkbox id="{{col.field+col.child}}" aria-label="Checkbox 1" [(ngModel)]="col.show" (change)="updateGrid(0)">{{col.title}}</mat-checkbox></mat-list-item>
		<button mat-raised-button class="btn-pink" (click)="updateGrid(1)">Set Default</button>
	  </mat-menu>

	  <button mat-icon-button [matMenuTriggerFor]="filterMenu" class="btn-pink-active" matTooltip="Filter"><mat-icon  class="icon-filter-button"></mat-icon></button>
	  <mat-menu #filterMenu="matMenu" xPosition="before" >
		<button mat-menu-item class="pink-ripple" (click)="generateGrid(0,'','','',search.value)">All ({{ stat.all }})</button>
		<button mat-menu-item (click)="generateGrid(0,'','','Pending',search.value)">Pending ({{ stat.pending }})</button>
		<button mat-menu-item (click)="generateGrid(0,'','','Declined',search.value)">Declined ({{ stat.declined }})</button>
		<button mat-menu-item (click)="generateGrid(0,'','','Processing',search.value)">Processing ({{ stat.processing }})</button>
		<button mat-menu-item (click)="generateGrid(0,'','','Completed',search.value)">Completed ({{ stat.completed }})</button>
	  </mat-menu>
		  
		<button mat-icon-button matTooltip="Reload" class="btn-pink-active" (click)="generateGrid(1,'','','','')"><mat-icon  class="icon-refresh"></mat-icon></button>
		<span class="dateSelectorOuter btn-pink-active">
			  <mat-icon class="icon-calendar mat-icon material-icons dateSelectorIcon" role="img" aria-hidden="true" ></mat-icon>
			  <input type="button" class="dateSelectorInput"
			  ngxDaterangepickerMd
			  [(ngModel)]="selected"
			  [locale]="{applyLabel: 'Apply', format: 'DD/MM/YYYY'}"
			  [showCustomRangeLabel]="true"
			  [alwaysShowCalendars]="alwaysShowCalendars"
			  [ranges]="ranges"
			  [linkedCalendars]="true"
			  (rangeClicked)="rangeClicked($event)"
			  (datesUpdated) = "datesUpdated1($event)"
			  [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
			  placeholder="Select please..."/>
		</span>
		<div class="search">
			<mat-icon class="icon-search"></mat-icon>
			<input type="text" placeholder="Search..." #search="ngModel" [(ngModel)]="search_text" (keyup)="generateGrid(1,1,'',filter,search.value,show_item_wise_order_shipment)">
		</div>
		<div class="clear"></div>
	</div>
  </div>
  <div class="action-box">
	<label> {{bulk_ids.length}} Selected  (out of all {{config.currentPageCount}}) </label>
	<!--//////// VIEW ///////// -->

	<button mat-button [routerLink]="['/orders/'+childData.tablink+'/view/'+individualRow.id+'']" *ngIf="bulk_ids.length==1 && permission.view=='Y' && childData.ispopup=='N' " (click)="globalService.addTab('view'+childData.tablink,'/orders/'+childData.tablink+'/view/'+individualRow.id+'','View '+childData.heading,childData.tabparrentid)"><mat-icon  class="icon-search"></mat-icon>View</button>
	
	<!-- ////// approve/decline request  /////// -->
	<button mat-button (click)="processRequest(true,individualRow.id)" *ngIf="show_btn.edit && bulk_ids.length==1 && individualRow.return_status=='Pending' "><mat-icon  class="icon-check-box"></mat-icon>Approve Request</button>
	<button mat-button (click)="processRequest(false,individualRow.id)" *ngIf="show_btn.edit && bulk_ids.length==1 && individualRow.return_status=='Pending' "><mat-icon  class="icon-delete-box"></mat-icon>Decline Request</button>

	<button mat-icon-button  class="white-ripple pull-right"  (click)="generateGrid(0,'','','','')"><mat-icon  class="icon-close"></mat-icon></button>
	
  </div>
  <h1></h1>
	<div class="table-list">
		  <table>
			<tr>
			  <th class="check-select">
				<mat-checkbox name="selectedAll"  [(ngModel)]="selectedAll" id="list-all" (change)="toggleCheckAll($event)"></mat-checkbox>
			  </th>
			  <ng-container *ngFor="let col of cols">
				<th *ngIf="col.show == 1" class="short" align="{{ (col.field_type=='p' || col.field_type=='n')?'right':'' }}" (click)="generateGrid(0,1,col.field,filter,search.value)">{{col.title}}<span [class]="(sortBy==col.field)?sortClass:''"></span></th>
			  </ng-container> 
			</tr>
			<tr [class.chec]="row.selected"  *ngFor="let row of result_list">
				<td>
				  <mat-checkbox name="row.Selected" id="list{{row.id}}" [checked]="row.selected" (change)="toggleCheck(row.id,$event)"></mat-checkbox>
				</td>
				<ng-container *ngFor="let col of cols">
				  <td *ngIf="col.show == 1" attr.data-th="{{col.title}}" align="{{ (col.field_type=='p' || col.field_type=='n')?'right':'' }}">
					<span [class.status-box]="col.field=='return_status'" 
						  [class.pending]="col.field=='return_status' && row[col.field]=='Pending'"
						  [class.pendings]="col.field=='return_status' && row[col.field]=='Declined'"
						  [class.processing]="col.field=='return_status' && row[col.field]=='Processing'"
						  [class.shipped]="col.field=='return_status' && row[col.field]=='Completed'" >
					   <ng-container *ngIf="col.field_type=='p'">
						{{((col.child!='')?((row[col.child])?row[col.child][col.field]:''):row[col.field])| number: '1.2-2' }}   
					  </ng-container>
					  <ng-container *ngIf="col.field_type!='p'">
						{{((col.child!='')?((row[col.child])?row[col.child][col.field]:''):row[col.field])|limitTo:50 }}   
					  </ng-container>
					</span>
					
				  </td>
				</ng-container>
			  </tr>
			  <tr *ngIf="pagination.total_page==0 && result_list.length==0">
				<td colspan="4" align="center">No records found</td>
			  </tr>
		</table>
	  </div>
	<div class="clear"></div>
  </section>
	<div class="pagination-box" *ngIf="pagination.total_page>1">
		  <span *ngFor="let list of total_list | paginate: config"></span>
				  <pagination-template #p="paginationApi" [id]="config.id"  (pageChange)="generateGrid(0,$event,'',filter,search.value)" [maxSize]="maxSize">
			  <ul class="pagination">
				  <li class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()">
					  <a  (click)="p.previous()"><span class="icon-left"></span></a>
				  </li>
				  <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
					  <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
						  <span>{{ page.label }}</span>
					  </a>
					  <a *ngIf="p.getCurrent() === page.value">
						  <span>{{ page.label }}</span>
					  </a>
				  </li>
				  <li class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()">
					  <a  (click)="p.next()"><span class="icon-right"></span></a>
				  </li>
			  </ul>
		  </pagination-template>
	  </div>
	<div class="clear"></div>