<!-- banner start here -->
<div class="top_banner">
    <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/home_ban-min.jpg" alt="">
</div>
<!-- Feature start here -->
<section class="temp_feature">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="fech_box">
                    <i class="icon-Free_Shiping"></i>
                    <h5>FREE SHIPPING</h5>
                    <p>Free shipping for all orders</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="fech_box">
                    <i class="icon-Support"></i>
                    <h5>SUPPORT 24/7</h5>
                    <p>We support 24 hours a day</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="fech_box">
                    <i class="icon-Return"></i>
                    <h5>30 Day Return</h5>
                    <p>You have 30 days to return</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="fech_box">
                    <i class="icon-Payment"></i>
                    <h5>Payment 100% secured</h5>
                    <p>Payment 100% secured</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="catagory">
                <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_3.jpg">
                <div class="title">Ladies night</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="catagory">
                <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_4.jpg">
                <div class="title">mantastic Sale</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="catagory">
                <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_5.jpg">
                <div class="title">Festive feels</div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-6">
                <div class="catagory1">
                    <div class="img-part"><img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_1.jpg"></div>
                    <div class="text-part">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4>Sale Upto 50% Off</h4>
                                <p>Ut enim ad minim veniam quis nostrud exercitation.</p>
                            </div>                                
                            <div class="col-auto ml-auto">
                                <button mat-raised-button class="btn-main">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="catagory1">
                    <div class="img-part"><img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_2.jpg"></div>
                    <div class="text-part">
                        <div class="row align-items-center">
                            <div class="col">
                                <h4>Accessories Collections</h4>
                                <p>Ut enim ad minim veniam quis nostrud exercitation.</p>
                            </div>                                
                            <div class="col-auto ml-auto">
                                <button mat-raised-button class="btn-main">SHOP NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!-- Feauture Product -->
    <section>
        <h2 class="pro_title">Feauture Product</h2>
        <ul class="product-list">
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_6.jpg">
                        <ul class="home_product_action">
                            
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$40.00</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_7.jpg">
                        <ul class="home_product_action">
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$29.00</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_8.jpg">
                        <ul class="home_product_action">
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$38.00</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_9.jpg">
                        <ul class="home_product_action">
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$40.00</h4>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <h2 class="pro_title">New Arrivals</h2>
        <ul class="product-list">
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <div class="offer_tag">50% off</div>
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_6.jpg">
                        <ul class="home_product_action">
                            
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$40.00</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_7.jpg">
                        <ul class="home_product_action">
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$29.00</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_8.jpg">
                        <ul class="home_product_action">
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$38.00</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="product-box">
                    <div class="h_pro_img">
                        <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_9.jpg">
                        <ul class="home_product_action">
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                            <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                        </ul>
                    </div>
                    <div class="h_pro_desc">
                        <p>Abominable Hoodie</p>
                        <h4>$40.00</h4>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <a href="#"><img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/add_1.jpg" alt=""></a>
    </section>
    <section>
        <div class="row">
            <div class="col-md-9">
                <h2 class="pro_title">Best Sellers</h2>
                <ul class="product-list">
                    <li>
                        <div class="product-box">
                            <div class="h_pro_img">
                                <div class="offer_tag">50% off</div>
                                <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_6.jpg">
                                <ul class="home_product_action">
                                    
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                                </ul>
                            </div>
                            <div class="h_pro_desc">
                                <p>Abominable Hoodie</p>
                                <h4>$40.00</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box">
                            <div class="h_pro_img">
                                <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_7.jpg">
                                <ul class="home_product_action">
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                                </ul>
                            </div>
                            <div class="h_pro_desc">
                                <p>Abominable Hoodie</p>
                                <h4>$29.00</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product-box">
                            <div class="h_pro_img">
                                <img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/pro_8.jpg">
                                <ul class="home_product_action">
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-cart"></i></button></li>
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-heart"></i></button></li>
                                    <li><button mat-icon-button class="btn-main-ripple"><i class="icon-zoom"></i></button></li>
                                </ul>
                            </div>
                            <div class="h_pro_desc">
                                <p>Abominable Hoodie</p>
                                <h4>$38.00</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3"><a href="#"><img src="https://d2vltvjwlghbux.cloudfront.net/frontend/assets/template/images/add_2.jpg" alt=""></a></div>
        </div>            
        
    </section>
</div>    
