<section class="container">
    <div class="row">
        <div class="col-12">
          <div class="successwrap">
              <div class="tickicon"><span class="icon-iconfinder_v-10_3162599"></span></div>
             <div class="successtext">Order successful. We are processing your order.</div>
              <p>
                An order confirmation mail will be sent to you soon.
                
              </p>
              <div class="orderid_box">Your order ID : <span>{{orderId}}</span></div>
              <div class="shopping" [routerLink]="['/home']">CONTINUE SHOPPING</div>
              <!-- <h1>{{pageData | json}}</h1> -->
          </div>
        </div>
    </div>    
</section>