.product_details{
    display: block;
    width: 100%;
}
.custom_fields_data{
    display: flex;
    width: 100%;
 }
 .custom_fields_data p{
     font-size: 10px !important;
     margin-right: 6px;
 }
 @media (min-width:650px) and (max-width:1024px) {
    .custom_fields_data{
        display: flex;
        justify-content: flex-end !important;
    }
}