.header {
    border-bottom: 1px solid gray;
    height       : 30px;

    h4 {
        font-weight: 500;
    }

    h4,
    mat-icon {
        right   : 0px;
        position: absolute;
    }
}
.body{
    padding-top: 4%;
}
.row{
    margin: 0px;
    padding: 0px;
    height: 50px;
}
strong{
    word-break: break-all;
}