<!-- --- listing middle --- -->
<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="listing_container">
               
                <div class="list_right_section details details_one">
                    
                    <div class="details_topsml_menu">
                        <ul>
                            <li ><a href="javascript:void(0)">Home /</a></li>
                            <li ><a href="javascript:void(0)">My Account /</a></li>
                            <li><a href="javascript:void(0)">Profile</a></li>
                        </ul>
                    </div>
                    <div class="cart_outer">
                        <div class="row">
                            <div class="col-12 col-md-3">
                              <app-left-panel-profile [activatedMenu] = "'change-password'"></app-left-panel-profile>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="cartbox orderdetails address-form">
                                  <div class="row">
                                      <div class="col-12 col-md-12">
                                        <div class="head"> Change Password
                                        </div>
                                      </div>
                                     
                                  </div>
                                 
                                  <form #formData="ngForm" novalidate (ngSubmit)="formData.valid && addEdit(formData)">
                                  <div class="frmbox">
                                      <div class="row">
                                          <div class="col-12 col-md-6">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Old Password</mat-label>
                                                <input matInput type="password" required placeholder="Old Password"  #current_password="ngModel"  name="current_password" [(ngModel)]="formModel.current_password">
                                                <mat-error *ngIf="current_password.errors && current_password.errors.required">
                                                  Please enter old password
                                                </mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-12 col-md-6">
                                              <mat-form-field appearance="outline">
                                                <mat-label>New Password</mat-label>
                                                <input matInput type="password" required placeholder="New Password" #new_password="ngModel"  name="new_password" [(ngModel)]="formModel.new_password">
                                                <mat-error *ngIf="new_password.errors && new_password.errors.required">Please enter new password</mat-error>
                                              </mat-form-field>
                                          </div>
                                          <div class="col-12 col-md-6">
                                              <mat-form-field appearance="outline">
                                                <mat-label>Confirm Password</mat-label>
                                                <input matInput type="password" required placeholder="Confirm Password" #confirm_password="ngModel"  name="confirm_password" [(ngModel)]="formModel.confirm_password">
                                                <mat-error *ngIf="confirm_password.errors && confirm_password.errors.required">Please enter confirm password</mat-error>
                                              </mat-form-field>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="btnsec">
                                        <button type="submit" class="checkoutbtn ml-auto">Change Now</button>
                                        <!-- <button  type="submit" style="cursor: pointer" class="basketbtn ml-auto">Change Now</button> -->
                                    </div>
                                  </form>
                                </div>
                           </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>    
</section>
<!-- --- listing middle --- -->



