<section class="container">
    <div class="row">
        <div class="col-12">
          <div class="successwrap">
              <div class="tickicon"><img src="assets/images/error_icon.png"></div>
              <div class="errortext">Sorry,Payment has been failed, Please retry</div>
              <div class="orderid_box"><span>{{responseMessage}}</span></div>
              <div class="shopping" [routerLink]="['/checkout']">CLICK HERE TO REPAY</div>
          </div>
        </div>
    </div>    
</section>