<mat-dialog-content >
  <section  class="pmc_order_con ">
      <form #forgetForm="ngForm" novalidate (ngSubmit)="forgetForm.valid && onSubmit()">
        <div class="pop_upbg">
          <div class="loginbox mobile">
            <div class="crossbtn"><a href="javascript:void(0)" (click)="closeDialog()"><span class="icon-cross_sml"></span></a></div>
            <div class="image_panel" style="background-image:url(assets/images/loging_bg.jpg)"></div>
            <div class="text_panel">
                <div class="head" style="margin-top: 20px; text-align: center;">Forgot Password</div>
                
                <div class="row">
                  <mat-form-field appearances="outline">
                      <mat-label>Enter Email</mat-label>
                      <input matInput placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': forgetForm.submitted && email.invalid }" required email>
                    </mat-form-field>
                </div>
               
               
               <div class="row">
                   <button type="submit" class="signin_btn" [disabled]="!forgetForm.valid">SEND RESET LINK</button>
               </div>

               <div class="row">
                  <div class="signuptext">Already have an account? <a href="javascript:void(0)" (click)="onSignIn()">Sign In</a></div>
              </div>
              <div class="row" *ngIf="msg"><span style="color:red;text-align:center;margin: 0px auto;">{{msg}}</span></div>

            </div>
          </div>
        </div>
      </form>
  </section>
  </mat-dialog-content>