<section class="right-part filter-pad inner_listing">
	<div class="topheading">
		<h1>Manage {{childData.heading}}
			<div class="btn-header hidden-xs">
				<button mat-raised-button class="btn-main" (click)="globalService.addTab('add'+childData.heading,childData.tablink+'/add','Add '+childData.heading,childData.tabparrentid);globalService.navigateToUrl('/'+childData.tablink+'/add');"
				 *ngIf="permission.add=='Y' && childData.ispopup=='N' && show_btn.add">+ Add {{childData.heading}}</button>
			</div>
			<div class="clear"></div>
		</h1>
	</div>

	<div class="innertab_sec inner_sec_resp">
		<div class="tabhedouter">
			<mat-tab-group (selectedTabChange)="loadGridData($event)">
				<mat-tab>
					<ng-template mat-tab-label>
						<a href="javascript:void(0)" class='page_tab_link'>
							Zone
						</a>
					</ng-template>
				</mat-tab>
	
				<mat-tab>
					<ng-template mat-tab-label>
						<a href="javascript:void(0)" class='page_tab_link'>
							Area 
						</a>
					</ng-template>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
						<a href="javascript:void(0)" class='page_tab_link'>
							Sub Area 
						</a>
					</ng-template>
				</mat-tab>
			</mat-tab-group>
		</div>
		<div class="serch_and_filtersec">
			<div class="serch_sec">
				<a href="javascript:void(0)">
					<span class="icon-search1"></span>	
				</a>
				<input type="text" placeholder="Search..." #search="ngModel" [(ngModel)]="search_text" (keyup)="generateGrid(1,1,'',filter,search.value,locationType)">
			</div>
			<div class="filter_section">
				<!-- <button class="button" (click)="FiltertoggleCheck($event)"><span class="icon-filter" matTooltip="Apply Filter"
					 matTooltipPosition="above"></span></button> -->
				<button class="button"><span class="icon-columns" (click)="loadColumnLayout()" matTooltip="Show/Hide Columns"
					 matTooltipPosition="above"></span></button>
				<button class="button" [matMenuTriggerFor]="tools"><span class="icon-menu" matTooltip="Import/Export"
					 matTooltipPosition="above"></span></button>
				<mat-menu #tools="matMenu" xPosition="before" [overlapTrigger]="false">
					<button mat-menu-item (click)="openProductImport(childData.tablink,'Main')" *ngIf="childData.is_import=='Y'">
						<mat-icon class="icon-import"></mat-icon> Import
					</button>
					<button mat-menu-item (click)="OpenExportPopUp()" *ngIf="childData.is_export=='Y'">
						<mat-icon class="icon-export"></mat-icon> Export
					</button>
				</mat-menu>
			</div>

		</div>
	</div>
	<div class="action-box">
		<label> {{bulk_ids.length}} Selected (out of all {{config.currentPageCount}}) </label>
		<!-- ///////////Edit////////////// -->
		<button mat-button [routerLink]="['/'+childData.tablink+'/edit/'+individualRow.id+'']" *ngIf="bulk_ids.length==1 && permission.edit=='Y' && childData.ispopup=='N' && show_btn.edit"
		 (click)="globalService.addTab('edit'+childData.tablink,childData.tablink+'/edit/'+individualRow.id+'','Edit '+childData.heading,childData.tabparrentid);globalService.navigateToUrl('/'+childData.tablink+'/edit/'+individualRow.id+'');">
			<mat-icon class="icon-edit"></mat-icon>Edit
		</button>
		<!-- ///////////Delete/Block/Unblock////////////// -->
		<button mat-button (click)="updateStatusAll(2)" *ngIf="show_btn.delete">
			<mat-icon class="icon-delete"></mat-icon>Delete
		</button>
		<button mat-button (click)="updateStatusAll(1)" *ngIf="bulk_ids.length==1 && individualRow.isblocked == 'Active' && show_btn.block">
			<mat-icon class="icon-lock"></mat-icon>Block
		</button>
		<button mat-button (click)="updateStatusAll(0)" *ngIf="bulk_ids.length==1 && individualRow.isblocked == 'Inactive' && show_btn.block">
			<mat-icon class="icon-unlock"></mat-icon>Unblock
		</button>
		<button mat-button (click)="updateStatusAll(1)" *ngIf="bulk_ids.length!=1 && show_btn.block">
			<mat-icon class="icon-lock"></mat-icon>Block
		</button>
		<button mat-button (click)="updateStatusAll(0)" *ngIf="bulk_ids.length!=1 && show_btn.block">
			<mat-icon class="icon-unlock"></mat-icon>Unblock
		</button>
		<button mat-icon-button class="white-ripple pull-right" (click)="generateGrid(0,'','','','',locationType)">
			<mat-icon class="icon-close"></mat-icon>
		</button>
	</div>
	<div class="body-part">
		<div class="table-list" *ngIf="showSkeletonLoaded">
			<table>
				
					<tr>
						<th class="check-select">
							<mat-checkbox name="selectedAll" [(ngModel)]="selectedAll" id="list-all" (change)="toggleCheckAll($event)"></mat-checkbox>
						</th>
						<ng-container>
							<th class="short" *ngFor="let item of temp_col"><span></span>
							</th>
						</ng-container>
					</tr>
				
				<tr *ngFor="let item of temp_result">
					<td>
						<div></div>
						<ng-template>
							<mat-checkbox name="Selected" id="list"></mat-checkbox>
						</ng-template>
					</td>
					<ng-container>
						<td *ngFor="let item of temp_col">
							<ng-container>
								<div class="skeleto-loader"></div>
							</ng-container>
						</td>
					</ng-container>
				</tr>
			</table>
		</div>
		<div class="table-list" *ngIf="!showSkeletonLoaded">
			<table>
				
					<tr>
						<th class="check-select">
							<mat-checkbox name="selectedAll" [(ngModel)]="selectedAll" id="list-all" (change)="toggleCheckAll($event)"></mat-checkbox>
						</th>
						<ng-container *ngFor="let col of cols">
							<th *ngIf="col.show == 1" class="short" (click)="generateGrid(0,1,col.field,filter,search.value,locationType)">{{col.title}}<span
								 [class]="(sortBy==col.field)?sortClass:''"></span>
							</th>
						</ng-container>
					</tr>
				
					<tr [class.chec]="row.selected" *ngFor="let row of result_list">
						<td>
							<mat-checkbox name="row.Selected" id="list{{row.id}}" [checked]="row.selected" (change)="toggleCheck(row.id,$event)"></mat-checkbox>
						</td>
						<ng-container *ngFor="let col of cols">
							<td *ngIf="col.show == 1" attr.data-th="{{col.title}}" align="{{ (col.field_type=='p' || col.field_type=='n')?'right':'' }}">
								<span [ngClass]="col.field=='isblocked' ? (row[col.field]=='Active'?'status-box shipped':'status-box pendings') : ''">
									<ng-container *ngIf="col.field_type=='p'">
										{{((col.child!='')?((row[col.child])?row[col.child][col.field]:''):row[col.field])| number: '1.2-2' }}
									</ng-container>
									<ng-container *ngIf="col.field_type!='p'">
										{{((col.child!='')?((row[col.child])?row[col.child][col.field]:''):row[col.field])|limitTo:50 }}
									</ng-container>
								</span>
							</td>
						</ng-container>
					</tr>
					<tr *ngIf="pagination.total_page==0">
						<td [attr.colspan]="colSpanCount" align="center">No records found</td>
					</tr>
				
			</table>
		</div>
	</div>
	<div class="clear"></div>

</section>
<div class="pagination-box" *ngIf="pagination.total_page>1">
	<span *ngFor="let list of total_list | paginate: config"></span>
	<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="generateGrid(0,$event,'',filter,search.value)"
	 [maxSize]="maxSize">
		<ul class="pagination">
			<li class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()">
				<a (click)="p.previous()"><span class="icon-left"></span></a>
			</li>
			<li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
				<a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
					<span>{{ page.label }}</span>
				</a>
				<a *ngIf="p.getCurrent() === page.value">
					<span>{{ page.label }}</span>
				</a>
			</li>
			<li class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()">
				<a (click)="p.next()"><span class="icon-right"></span></a>
			</li>
		</ul>
	</pagination-template>
</div>
<div class="clear"></div>