# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dev_env/
env_lifco/
dev_new/
node_modules/
boost/migrations
production/dist
frontend_modified/dist
frontend/dist
media/
settings/settings.py
dev-env/

Picking-App/*.iml
Picking-App/.gradle
/Picking-App/local.properties
/Picking-App/.idea/caches
/Picking-App/.idea/libraries
/Picking-App/.idea/modules.xml
/Picking-App/.idea/workspace.xml
/Picking-App/.idea/navEditor.xml
/Picking-App/.idea/assetWizardSettings.xml
Picking-App/.DS_Store
/Picking-App/build
/Picking-App/captures
Picking-App/.externalNativeBuild
Picking-App/.cxx

Android/*.iml
Android/.gradle
/Android/local.properties
/Android/.idea/caches
/Android/.idea/libraries
/Android/.idea/modules.xml
/Android/.idea/workspace.xml
/Android/.idea/navEditor.xml
/Android/.idea/assetWizardSettings.xml
Android/.DS_Store
/Android/build
/Android/captures
Android/.externalNativeBuild
Android/.cxx