/*@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900|Poppins:300,400,500,600,700,800,900&display=swap");*/
.white-bg {
    background: #ffffff
}

.gray-bg {
    background: #f5f5f5
}

.gray-bg {
    background: #f7f7fd
}

.white-bg {
    background: #fff
}

.black-bg {
    background: #16161a
}

.theme-bg {
    background: #8f1bdc
}

.brand-bg {
    background: #f1f4fa
}

.testimonial-bg {
    background: #f9fafc
}

.white-color {
    color: #fff
}

.black-color {
    color: #16161a
}

.theme-color {
    color: #8f1bdc
}

.boxed-btn {
    background: #fff;
    color: #8f1bdc !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #8f1bdc;
    letter-spacing: 3px;
    text-align: center;
    color: #8f1bdc;
    text-transform: uppercase;
    cursor: pointer
}

.boxed-btn:hover {
    background: #8f1bdc;
    color: #fff !important;
    border: 1px solid #8f1bdc
}

.boxed-btn:focus {
    outline: none
}

.boxed-btn.large-width {
    width: 220px
}

[data-overlay] {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

[data-overlay]::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: ""
}

[data-opacity="1"]::before {
    opacity: 0.1
}

[data-opacity="2"]::before {
    opacity: 0.2
}

[data-opacity="3"]::before {
    opacity: 0.3
}

[data-opacity="4"]::before {
    opacity: 0.4
}

[data-opacity="5"]::before {
    opacity: 0.5
}

[data-opacity="6"]::before {
    opacity: 0.6
}

[data-opacity="7"]::before {
    opacity: 0.7
}

[data-opacity="8"]::before {
    opacity: 0.8
}

[data-opacity="9"]::before {
    opacity: 0.9
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    color: #2b044d;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal
}

p {
    font-family: "Poppins", sans-serif;
    color: #707b8e;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal
}

.bg-img-1 {
    background-image: url(/src/assets/img/slider-img-1.jpg
    )

}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px
}

b,
sup,
sub,
u,
del {
    color: #222
}

.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
    color: #828bb2
}

.button-area {
    background: #fff
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px
}

.button-group-area .genric-btn:last-child {
    margin-right: 0
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.default-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: #222;
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: #222;
    border: 1px solid #222;
    background: #fff
}

.genric-btn.primary-border {
    color: #222;
    border: 1px solid #222;
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: #222;
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border {
    color: #4cd3e3;
    border: 1px solid #4cd3e3;
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: #4cd3e3;
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border {
    color: #38a4ff;
    border: 1px solid #38a4ff;
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: #38a4ff;
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border {
    color: #f4e700;
    border: 1px solid #f4e700;
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: #f4e700;
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border {
    color: #f44a40;
    border: 1px solid #f44a40;
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: #f44a40;
    border: 1px solid transparent
}

.genric-btn.link {
    color: #415094;
    background: #f9f9ff;
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff
}

.genric-btn.link-border {
    color: #415094;
    border: 1px solid #f9f9ff;
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #415094;
    background: #f9f9ff;
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, 0.3;
    background: #f9f9ff;
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #222
}

.progress-table-wrap {
    overflow-x: scroll
}

.progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px
}

.progress-table .serial {
    width: 11.83%;
    padding-left: 30px
}

.progress-table .country {
    width: 28.07%
}

.progress-table .visit {
    width: 19.74%
}

.progress-table .percentage {
    width: 40.36%;
    padding-right: 50px
}

.progress-table .table-head {
    display: flex
}

.progress-table .table-head .serial,
.progress-table .table-head .country,
.progress-table .table-head .visit,
.progress-table .table-head .percentage {
    color: #415094;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500
}

.progress-table .table-row {
    padding: 15px 0;
    border-top: 1px solid #edf3fd;
    display: flex
}

.progress-table .table-row .serial,
.progress-table .table-row .country,
.progress-table .table-row .visit,
.progress-table .table-row .percentage {
    display: flex;
    align-items: center
}

.progress-table .table-row .country img {
    margin-right: 15px
}

.progress-table .table-row .percentage .progress {
    width: 80%;
    border-radius: 0px;
    background: transparent
}

.progress-table .table-row .percentage .progress .progress-bar {
    height: 5px;
    line-height: 5px
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
    background-color: #e66686
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
    background-color: #f09359
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
    background-color: #73fbaf
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
    background-color: #6382e6
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
    background-color: #a367e7
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
    background-color: #e66686
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px
}

.list-style {
    width: 14px;
    height: 14px
}

.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important
}

.unordered-list li:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #222;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%
}

.ordered-list {
    margin-left: 30px
}

.ordered-list li {
    list-style-type: decimal-leading-zero;
    color: #222;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #222;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-alpha li span {
    font-weight: 300;
    color: #828bb2
}

.ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #222;
    font-weight: 500;
    line-height: 1.82em !important
}

.ordered-list-roman li span {
    font-weight: 300;
    color: #828bb2
}

.single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input:focus {
    outline: none
}

.input-group-icon {
    position: relative
}

.input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3
}

.input-group-icon .icon i {
    color: #797979
}

.input-group-icon .single-input {
    padding-left: 45px
}

.single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none
}

.single-textarea:focus {
    outline: none
}

.single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-primary:focus {
    outline: none;
    border: 1px solid #222
}

.single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-accent:focus {
    outline: none;
    border: 1px solid #eb6b55
}

.single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px
}

.single-input-secondary:focus {
    outline: none;
    border: 1px solid #f09359
}

.default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.default-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.default-switch input+label {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #222;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.default-switch input:checked+label {
    left: 19px
}

.primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.primary-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.primary-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.primary-switch input:checked+label:after {
    left: 19px
}

.primary-switch input:checked+label:before {
    background: #222
}

.confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-switch input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-switch input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

.confirm-switch input+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer
}

.confirm-switch input+label:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer
}

.confirm-switch input:checked+label:after {
    left: 19px
}

.confirm-switch input:checked+label:before {
    background: #4cd3e3
}

.primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-checkbox input:checked+label {
    background: url(/src/assets/img/primary-check.png) no-repeat center center/cover;
    border: none
}

.confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-checkbox input:checked+label {
    background: url(/src/assets/img/success-check.png) no-repeat center center/cover;
    border: none
}

.disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-checkbox input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-checkbox input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-checkbox input:checked+label {
    background: url(/src/assets/img/disabled-check.png) no-repeat center center/cover;
    border: none
}

.primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.primary-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.primary-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.primary-radio input:checked+label {
    background: url(/src/assets/img/primary-radio.png) no-repeat center center/cover;
    border: none
}

.confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.confirm-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.confirm-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.confirm-radio input:checked+label {
    background: url(/src/assets/img/success-radio.png) no-repeat center center/cover;
    border: none
}

.disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer
}

.disabled-radio input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.disabled-radio input+label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f1f1f1
}

.disabled-radio input:disabled {
    cursor: not-allowed;
    z-index: 3
}

.disabled-radio input:checked+label {
    background: url(/src/assets/img/disabled-radio.png) no-repeat center center/cover;
    border: none
}

.default-select {
    height: 40px
}

.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 20px;
    padding-right: 40px
}

.default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px
}

.default-select .nice-select .list .option.selected {
    color: #222;
    background: transparent
}

.default-select .nice-select .list .option:hover {
    color: #222;
    background: transparent
}

.default-select .current {
    margin-right: 50px;
    font-weight: 300
}

.default-select .nice-select::after {
    right: 20px
}

.form-select {
    height: 40px;
    width: 100%
}

.form-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #f9f9ff;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%
}

.form-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px
}

.form-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px
}

.form-select .nice-select .list .option.selected {
    color: #222;
    background: transparent
}

.form-select .nice-select .list .option:hover {
    color: #222;
    background: transparent
}

.form-select .current {
    margin-right: 50px;
    font-weight: 300
}

.form-select .nice-select::after {
    right: 20px
}

.mt-10 {
    margin-top: 10px
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee
}

.mb-30 {
    margin-bottom: 30px
}

.mt-30 {
    margin-top: 30px
}

.switch-wrap {
    margin-bottom: 10px
}

.header-transparrent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.main-header {
    z-index: 3
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-header {
        padding: 11px 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main-header {
        padding: 11px 0
    }
}

@media (max-width: 767px) {
    .main-header {
        padding: 11px 0
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu {
        margin-right: 30px
    }
}

.main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 5px
}

.main-header .main-menu ul li>a {
    color: #efe9f4;
    font-weight: 400;
    padding: 39px 16px;
    font-weight: 400;
    display: block;
    font-size: 16px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: capitalize
}

.available-app-area {
    position: relative;
    padding-top: 220px;
    padding-bottom: 220px;
    min-height: 100vh;
    height: 100%;    
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .available-app-area {
        padding-top: 35vh;
        padding-bottom: 150px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .available-app-area {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .available-app-area {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media (max-width: 767px) {
    .available-app-area {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

.available-app-area .app-caption .section-tittle3 h2 {
    color: #fff;
    margin-bottom: 35px;
    font-weight: 600
}

.available-app-area .app-caption p {
    color: #fff;
    padding-right: 52px;
    padding-bottom: 26px
}

.available-app-area .app-caption .app-btn .app-btn1 {
    padding-right: 15px
}

@media (max-width: 767px) {
    .available-app-area .app-caption .app-btn .app-btn2 {
        display: block;
        padding-top: 10px
    }
}

.available-app-area .app-img {
    position: relative;
    right: -88px
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .available-app-area .app-img {
        right: 0px
    }
    .available-app-area{
        padding-top: 45vh;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .available-app-area .app-img {
        top: 45px;
        right: 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .available-app-area .app-img {
        top: 45px;
        right: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .available-app-area .app-img {
        top: 45px;
        right: 0
    }
}

@media (max-width: 767px) {
    .available-app-area .app-img {
        top: -3px;
        right: -10px
    }
}

.available-app-area .app-img img {
    width: 100%
}

.available-app-area .app-shape .app-shape-top {
    position: absolute;
    top: 100px;
    left: 125px
}

.available-app-area .app-shape .app-shape-left {
    position: absolute;
    left: 0;
    bottom: 0
}

.available-app-area .app-shape .app-shape-right {
    position: absolute;
    right: 252px;
    top: 208px
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .available-app-area .app-shape .app-shape-right {
        display: none !important
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .available-app-area .app-shape .app-shape-right {
        display: none !important
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .available-app-area .app-shape .app-shape-right {
        display: none !important
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .available-app-area .app-shape .app-shape-right {
        display: none !important
    }
}

@media (max-width: 767px) {
    .available-app-area .app-shape .app-shape-right {
        display: none !important
    }
}

.say-something-aera {
    position: relative;
    border-bottom: 1px solid #ffc9fd
}

.say-something-aera .say-something-cap h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    color: #282828
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .say-something-aera .say-something-cap h2 {
        font-size: 41px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .say-something-aera .say-something-cap h2 {
        margin-bottom: 25px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .say-something-aera .say-something-cap h2 {
        margin-bottom: 25px;
        font-size: 41px
    }
}

@media (max-width: 767px) {
    .say-something-aera .say-something-cap h2 {
        margin-bottom: 25px;
        font-size: 30px
    }
}

.say-something-aera .say-shape .say-shape1 {
    position: absolute;
    left: -99px;
    bottom: -140px
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .say-something-aera .say-shape .say-shape1 {
        left: -134px;
        bottom: -215px
    }
}

.say-something-aera .say-shape .say-shape2 {
    position: absolute;
    right: 0;
    bottom: 0
}

.testimonial-area .testimonial-main {
    position: relative
}

.testimonial-area .testimonial-main::before {
    position: absolute;
    content: '\f107';
    font-family: Flaticon;
    font-style: normal;
    font-size: 86px;
    z-index: 1;
    left: 0;
    top: 96px;
    color: #e3def0;
    transform: rotate(180deg);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-main::before {
        display: none
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .testimonial-main::before {
        display: none
    }
}

@media (max-width: 767px) {
    .testimonial-area .testimonial-main::before {
        display: none
    }
}

.testimonial-area .testimonial-main::after {
    position: absolute;
    content: '\f107';
    font-family: Flaticon;
    font-style: normal;
    font-size: 86px;
    z-index: 1;
    right: 0;
    bottom: 0;
    color: #e3def0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-main::after {
        display: none
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .testimonial-main::after {
        display: none
    }
}

@media (max-width: 767px) {
    .testimonial-area .testimonial-main::after {
        display: none
    }
}

.testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    font-size: 20px;
    padding: 0 23px;
    margin-bottom: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
        font-size: 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
        font-size: 20px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
        font-size: 18px
    }
}

@media (max-width: 767px) {
    .testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
        font-size: 18px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
        margin-bottom: 30px
    }
}

@media (max-width: 767px) {
    .testimonial-area .testimonial-main .testimonial-caption .testimonial-top-cap p {
        margin-bottom: 30px;
        padding: 0px;
        font-size: 16px
    }
}

.testimonial-area .testimonial-main .testimonial-caption .testimonial-founder {
    text-align: left
}

.testimonial-area .testimonial-main .testimonial-caption .testimonial-founder .founder-text {
    margin-left: 20px
}

.testimonial-area .testimonial-main .testimonial-caption .testimonial-founder .founder-text span {
    color: #2e1088;
    font-size: 25px;
    font-weight: 600
}

.testimonial-area .testimonial-main .testimonial-caption .testimonial-founder .founder-text p {
    font-weight: 500;
    line-height: 1.5;
    color: #707b8e
}

.testimonial-area .testimonial-main:hover::before,
.testimonial-area .testimonial-main:hover::after {
    color: #c2aff2
}

.testimonial-area .h1-testimonial-active button.slick-arrow {
    position: absolute;
    top: 50%;
    left: -133px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    z-index: 2;
    height: 45px;
    width: 45px;
    line-height: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    background: #8f1bdc
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .h1-testimonial-active button.slick-arrow {
        left: -45px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .h1-testimonial-active button.slick-arrow {
        left: -45px
    }
}

.testimonial-area .h1-testimonial-active button.slick-next {
    left: auto;
    right: -133px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .h1-testimonial-active button.slick-next {
        right: -45px
    }
}

.testimonial-area .h1-testimonial-active:hover button.slick-prev {
    left: -120px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .h1-testimonial-active:hover button.slick-prev {
        left: -35px
    }
}

.testimonial-area .h1-testimonial-active:hover button.slick-next {
    right: -120px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .testimonial-area .h1-testimonial-active:hover button.slick-next {
        right: -37px
    }
}

.testimonial-area .h1-testimonial-active:hover button {
    opacity: 1;
    visibility: visible
}

.testimonial-area .slick-initialized .slick-slide {
    outline: 0
}

.footer-area .footer-logo {
    margin-bottom: 30px
}

.footer-area .footer-pera .info1 {
    margin-bottom: 10px;
    line-height: 1.8
}

.footer-area .footer-pera .info2 {
    margin-bottom: 50px;
    line-height: 1.8
}

.footer-area .footer-pera.footer-pera2 p {
    padding: 0
}

.footer-area .footer-tittle h4 {
    color: #000;
    font-size: 18px;
    margin-bottom: 48px;
    font-weight: 700
}

.footer-area .footer-tittle ul li {
    color: #012f5f;
    margin-bottom: 15px
}

.footer-area .footer-tittle ul li a {
    color: #868c98;
    font-weight: 300
}

.footer-area .footer-tittle ul li a:hover {
    color: #8f1bdc;
    padding-left: 5px
}

.footer-area .footer-form {
    margin-top: 40px
}

.footer-area .footer-form form {
    position: relative
}

.footer-area .footer-form form input {
    width: 100%;
    height: 43px;
    padding: 10px 20px;
    border: 1px solid #fff;
    background: #f9f9fe
}

.footer-area .footer-form form .form-icon button {
    position: absolute;
    top: 1px;
    right: 0;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 11px 22px;
    background: #8f1bdc;
    line-height: 1
}

.footer-area .info.error {
    color: #8f1bdc
}

.footer-area .footer-social a {
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #fafafa;
    background: #fafafa;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #949eb2;
    margin-right: 5px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.footer-area .footer-copy-right {
    padding-top: 20px
}

@media (max-width: 767px) {
    .footer-area .footer-copy-right {
        padding-top: 0px
    }
}

.footer-area .footer-copy-right p {
    color: #888888;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px
}

.footer-area .footer-copy-right p i {
    color: #f9218d
}

.footer-area .footer-copy-right p a {
    color: #f9218d
}

.footer-area .footer-copy-right p a:hover {
    color: #8f1bdc
}

.footer-social a:hover {
    background: #8f1bdc
}

.footer-social a:hover i {
    color: #fff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.hero-caption span {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 24px;
    font-weight: 600;
    padding-left: 95px;
    position: relative
}

.hero-caption span::before {
    position: absolute;
    content: "";
    width: 75px;
    height: 3px;
    background: #8f1bdc;
    left: 0;
    top: 52%;
    transform: translateY(-50%)
}

.hero-caption h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700
}

.available-app-area .app-caption .app-btn .app-btn2 {
    display: inline-block;
}