<div class="popcusdiolog">
	<div class="filter dialogFilter">
		<div class="innertab_sec tagpop" style="position: initial;">
			<div class="serch_and_filtersec">
				<h6 style="margin-top: 3px;margin-right: 10px;margin-bottom: 10px;margin-left: 0px;">Manage Tags</h6>
				<div class="serch_sec">
					<a href="javascript:void(0)"><span class="icon-search1"></span></a>
					<input type="text" placeholder="Search..." #search="ngModel" [(ngModel)]="search_text" (keyup)="seach_tags(search.value,sortBy)">
				</div>
			</div>
			<button mat-icon-button mdTooltip="Reload" class="btn-main" (click)="seach_tags('','id')">
				<mat-icon class="icon-refresh"></mat-icon>
			</button>
			&nbsp;
			<button mat-icon-button mdTooltip="Add Tag" class="btn-main" (click)="openPop(0)"><i class="icon-add"></i></button>
		</div>
		<div class="clear"></div>
	</div>
<hr>
<div class="action-box manage-tags in-popup">    	
        <!-- ///////////Edit////////////// -->
  		 <button mat-button (click)="openPop(individualRow.id)" *ngIf="bulk_tags_ids.length==1"><mat-icon  class="icon-edit"></mat-icon>Edit</button>
  		<!-- /////////// Status Update////////////// -->		
		 <!-- ///////////Delete/Block/Unblock////////////// -->
	    <button mat-button (click)="updateStatusAll(2,0)"><mat-icon  class="icon-delete"></mat-icon>Delete</button>
	    <button mat-button (click)="updateStatusAll(1,0)"><mat-icon  class="icon-lock"></mat-icon>Block</button>
	    <button mat-button (click)="updateStatusAll(0,0)"><mat-icon  class="icon-unlock"></mat-icon>Unblock</button>
	    <!-- <button mat-button>Push Product Info</button> -->

        <button mat-icon-button  class="white-ripple pull-right"  (click)="generateGrid(1,1,'','','')"><mat-icon  class="icon-close"></mat-icon></button>
        

  	</div>  

<mat-dialog-content style="min-width: 500px;">
	<div class="table-list order">
  		<table>
  			<thead>
			<tr>
				<th class="check-select">
					<mat-checkbox name="selectedAllTagList" [ngModel]="selectedAllTagList" id="selectedAllTagList" (change)="toggleCheckAllTags($event)"></mat-checkbox>
				</th>
				
				<th class="short" (click)="seach_tags(search.value,'name')">Name<span [class]="(sortBy=='name')?sortClass:''"></span></th>
				<th>Color Code</th>
				<th class="short">Status</th>
			</tr>
			</thead>
			<tbody>
			<tr [class.chec]="row.selected" *ngFor="let row of result_list_tags">
				<td>
					<mat-checkbox name="row.selected" id="tag_list{{row.id}}" [checked]="row.selected" (change)="toggleCheckTags(row.id,$event)"></mat-checkbox>
				</td>
				<td>{{row.tag_name}}</td>
				<td><span class="orders_tags_in_display" [style.backgroundColor]="row.color_code" ></span></td>
				<td> <span [ngClass] = "row.isblocked == 'Active' ? 'status-box shipped' : 'status-box pendings'">{{row.isblocked}} </span></td>				
			</tr>
			<tr *ngIf="result_list_tags.length==0">
			  	<td colspan="4" align="center">No records found</td>
			</tr>
			</tbody>
		</table>
	</div>
</mat-dialog-content>

</div>