<section class="right-part filter-pad inner_listing">
	<div class="topheading">
		<h1 class="autoclick">Manage {{childData.heading}}
			<button class="addpinkbtn" [routerLink]="['/'+childData.tablink+'/add']" (click)="globalService.addTab('add'+childData.heading,childData.tablink+'/add','Add '+childData.heading,childData.tabparrentid)"
			 *ngIf="permission.add=='Y' && childData.ispopup=='N'" matTooltipClass="mat-tooltip-white" mdTooltip="Add "><span
				 class="icon-add"></span></button>
			<div class="clear"></div>
		</h1>
	</div>
	<div class="innertab_sec manage_ord">
		<div class="outer">
			<input type="button" class="calndercus" style="font-size: 16px;" ngxDaterangepickerMd [(ngModel)]="selected" [locale]="{applyLabel: 'Apply', format: 'DD-MM-YYYY'}"
			 [showCustomRangeLabel]="true" [alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [linkedCalendars]="true"
			 (datesUpdated)="datesUpdatedApply($event)" [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange" placeholder="Choose date" />
			<i class="icon-table"></i>
		</div>
		
		<div class="serch_and_filtersec">
			<div class="serch_sec">
				<a href="javascript:void(0)"><span class="icon-search1"></span></a>
				<input type="text" placeholder="Search..." #search="ngModel" [(ngModel)]="search_text" (keyup)="generateGrid(1,1,'',filter,search.value,show_item_wise_order)">
			</div>
			<div class="filter_section">
				<!-- <button class="button" title="Reload List" (click)="refreshOrderList()"><span class="icon-refresh"></span>
				</button> -->
				<button class="button" (click)="FiltertoggleCheck($event)"><span class="icon-filter"></span>
				</button>
				<button class="button"><span class="icon-columns" (click)="loadColumnLayout()"></span>
				</button>
				<button class="button" [matMenuTriggerFor]="tools"><span class="icon-menu"></span></button>
				<mat-menu #tools="matMenu" xPosition="before" [overlapTrigger]="false">
					<button mat-menu-item (click)="downloadData()">
						<mat-icon class="icon-import"></mat-icon> Export
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
	<div class="action-box edit">
		<label> {{bulk_ids.length}} Selected (out of all {{config.currentPageCount}}) </label>
		<!-- ///////////Edit////////////// -->
		<button mat-button *ngIf="bulk_ids.length==1 && permission.edit=='Y' && individualRow.order_status == 'Pending'" (click)="globalService.addTab('edit'+childData.tablink,childData.tablink+'/edit/'+individualRow.id+'','Edit '+childData.heading,childData.tabparrentid);globalService.navigateToUrl('/'+childData.tablink+'/edit/'+individualRow.id+'');">
			<mat-icon class="icon-edit"></mat-icon>Edit
		</button>

		<!-- ///////////View ////////////// -->
		<button mat-button (click)="globalService.addTab('View Order'+childData.tablink,childData.tablink+'/details/'+individualRow.id+'','View '+childData.heading,childData.tabparrentid);globalService.navigateToUrl('/'+childData.tablink+'/details/'+individualRow.id+'');"
		 *ngIf="bulk_ids.length==1 && show_item_wise_order==0 && permission.view=='Y'">
			<mat-icon class="icon-search-box"></mat-icon>View
		</button>
		<!-- /////////// Status Update////////////// -->

		<button mat-button [matMenuTriggerFor]="OrderStatusAction" class="btn-pink-active" (click)="loadActionOrderStatus()"
		 *ngIf="show_item_wise_order==0">
			<mat-icon class="icon-tune"></mat-icon> Status
		</button>
		<mat-menu #OrderStatusAction="matMenu" [overlapTrigger]="false" prevent-close (click)="loadTagMasters()">
			<mat-list-item *ngFor="let action_status of action_status_list">
				<mat-checkbox id="action_order_status{{action_status.id}}" (change)="setOrderStatusAction($event, action_status.name ,action_status.id)">{{action_status.name}}</mat-checkbox>
			</mat-list-item>
		</mat-menu>

		<button mat-button [matMenuTriggerFor]="orderActionTags" class="btn-pink-active" *ngIf="show_item_wise_order==0" (menuClosed)="menuClosed()">
			<mat-icon class="icon-tag mat-icon material-icons" role="img"></mat-icon> Tags
		</button>
		<mat-menu #orderActionTags="matMenu" [overlapTrigger]="false" multiple>
			<mat-list-item *ngFor="let tags_details of tag_list" (click)="$event.stopPropagation()">
				<mat-checkbox id="action_tags{{tags_details.id}}" (change)="setTagAction($event, tags_details.tag_name ,tags_details.id)"><span
					 class="orders_tags_in_display" [style.backgroundColor]="tags_details.color_code"></span>{{tags_details.tag_name}}</mat-checkbox>
			</mat-list-item>
			<button mat-raised-button class="btn-pink" name="ManageTags" id="ManageTagse" (click)="openPopTags(0)">Manage Tags</button>
		</mat-menu>

		<!-- /////////// Assign Warehouse////////////// -->
		<!-- 
		<button mat-button *ngIf="warehouse_id=='' && bulk_ids.length > 0 && create_picklist_error==0" [matMenuTriggerFor]="AssignWarehouse" class="btn-pink-active" (click)="getWarehouseList()">
			<mat-icon class="icon-tune"></mat-icon> Assign Store
		</button>
		<mat-menu #AssignWarehouse="matMenu" [overlapTrigger]="false" prevent-close>
			<mat-list-item>
				<mat-checkbox id="warehouse_manager_none" (change)="RemoveWarehouse()">None</mat-checkbox>
			</mat-list-item>
			<div *ngFor="let warehouse of warehouse_list">
				<mat-list-item *ngIf="warehouse.warehouse_manager?.length > 0">
					<p><strong>{{warehouse.name}}</strong>
					</p>
				</mat-list-item>
				<mat-list-item *ngFor="let manager of warehouse.warehouse_manager">
					<mat-checkbox id="warehouse_manager{{manager.id}}" (change)="AssignOrderWarehouse($event,manager.first_name ,warehouse.id,manager.manager_id)">{{manager.first_name}}</mat-checkbox>
				</mat-list-item>
			</div>
		</mat-menu> -->

		<!-- /////////// Create Picklist////////////// as we are not using Create Picklist so now updated to create shipment -->
		<button mat-button (click)="createPicklist()" *ngIf="bulk_ids.length > 0 && create_picklist_error==0 && assign_warehouse_error==0">
			<mat-icon class="icon-add"></mat-icon>Create Picklist
		</button>

		<!-- /////////// Create Shipment////////////// -->
		<!-- <button mat-button (click)="createShipment()" *ngIf="bulk_ids.length > 0 && create_shipment_error==0">
			<mat-icon class="icon-add"></mat-icon>Create Shipment
		</button> -->

		<!--  <button mat-icon-button  class="white-ripple pull-right"  (click)="generateGrid(0,'','','','',show_item_wise_order)"><mat-icon  class="icon-close"></mat-icon></button> -->
		<button mat-icon-button class="white-ripple pull-right" (click)="refreshOrderList()">
			<mat-icon class="icon-close"></mat-icon>
		</button>
	</div>
	<div class="action-box orderfilter">
		<div class="datepic_sec">
			<div class="filtericon"><a href="javascript:void(0)"><span class="icon-filter"></span></a>
			</div>
			<div class="serchtagbox" *ngFor="let item of advanced_search; let i=index">
				<p>{{item.show_name}}
					<span *ngIf="!item.comparer" class="icon-equal"></span>
					<span *ngIf="item.comparer==1" class="icon-equal"></span>
					<span *ngIf="item.comparer==2" class="icon-mathematical_symbol"></span>
					<span *ngIf="item.comparer==3" class="icon-start-contains"></span>
					<span *ngIf="item.comparer==4" class="icon-end-contains"></span>
					<span *ngIf="item.comparer==5" class="icon-contains"></span>
					<span *ngIf="item.comparer==6" class="icon-not-contains"></span>
					<span *ngIf="item.comparer==7" class="icon-right"></span>
					<span *ngIf="item.comparer==8" class="icon-left"></span>
					<span class="icon-equals"></span>
					<i *ngIf="item.key2=='n' || item.key2=='y'; else notShow">
						<p *ngIf="item.key2=='n'">
							Active
						</p>
						<p *ngIf="item.key2=='y'">
							Inctive
						</p>
					</i>

					<ng-template #notShow>

						<p *ngIf="item.key2; else showKey">
							{{item.key2}}
						</p>
						<ng-template #showKey>
							<p>
								{{item.key}}
							</p>
						</ng-template>
					</ng-template>
					<a href="javascript:void(0)" (click)="remove_filter(i)"><span class="icon-close"></span></a>

				</p>
			</div>
			<div class="filterdrop_wrap">
				<mat-form-field appearance="outline">
					<input matInput placeholder="Select a column" [matAutocomplete]="tdAuto" name="field_name" #field_name="ngModel"
					 [(ngModel)]="formModel.field_name" (ngModelChange)="load_fiter_column()">
				</mat-form-field>
				<mat-autocomplete #tdAuto="matAutocomplete">
					<mat-option *ngFor="let item of field_arr; let i=index;" [value]="item.field" (click)="get_data(item,i)">
						<span>{{item.columns}}</span>
					</mat-option>
				</mat-autocomplete>
				<!-- search tag -->
				<div class="meta_keywordbox" id="meta_keywordbox">
					<div class="headsec">{{formModel.field_name_show}}</div>
					<form #formdata="ngForm" (ngSubmit)="formdata.valid && sendSearchData()">
						<div class="innerbox">
							<div class="innrow">
								<div class="dropbtn">
									<div class="dop_icnbox">
										<span class="icon-equal" *ngIf="!formModel.search_type"></span>
										<span class="icon-equal" *ngIf="formModel.search_type=='1'"></span>
										<span class="icon-mathematical_symbol" *ngIf="formModel.search_type=='2'"></span>
										<span class="icon-start-contains" *ngIf="formModel.search_type=='3'"></span>
										<span class="icon-end-contains" *ngIf="formModel.search_type=='4'"></span>
										<span class="icon-contains" *ngIf="formModel.search_type=='5'"></span>
										<span class="icon-not-contains" *ngIf="formModel.search_type=='6'"></span>
										<span class="icon-right" *ngIf="formModel.search_type=='7'"></span>
										<span class="icon-left" *ngIf="formModel.search_type=='8'"></span>
									</div>
									<mat-select class="myFilter" #search_type="ngModel" name="search_type" [(ngModel)]="formModel.search_type">
										<mat-option *ngFor="let item of ConditionArr" [value]="item.type">{{item.name}}</mat-option>
									</mat-select>
								</div>
								<div class="inputsec" *ngIf="formModel.input_type=='text'">
									<mat-form-field appearance="outline">
										<input matInput placeholder="Type here" #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data">
									</mat-form-field>
								</div>
								<div class="inputsec" *ngIf="formModel.input_type=='float'">
									<mat-form-field appearance="outline">
										<input matInput type="number" placeholder="Enter value" #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data">
									</mat-form-field>
								</div>
								<div class="inputsec" *ngIf="formModel.input_type=='select'">
									<mat-form-field appearance="outline">
										<mat-select #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data" placeholder="Search here"
										 #singleSelect [multiple]="false">
											<ngx-mat-select-search [formControl]="bankMultiFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Nothing Found"></ngx-mat-select-search>
											<mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank.id" (click)="change_search_val(bank.name)">
												{{bank.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="inputsec" *ngIf="formModel.input_type=='multi_select'">
									<mat-form-field appearance="outline">
										<mat-select #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data" placeholder="Search here"
										 #singleSelect [multiple]="true">
											<ngx-mat-select-search [formControl]="bankMultiFilterCtrl" name="auto_search" placeholderLabel="Search"
											 noEntriesFoundLabel="Nothing Found"></ngx-mat-select-search>
											<mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank.id" (click)="change_search_val(bank.name)">
												{{bank.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="inputsec" *ngIf="formModel.input_type=='fix_select'">
									<mat-form-field appearance="outline">
										<mat-select class="myFilter" #search_data="ngModel" name="search_data" placeholder="Select" [(ngModel)]="formModel.search_data"
										 (ngModelChange)="get_select_data()">
											<mat-option *ngFor="let select_item of selectArr" [value]="select_item.id" (click)="change_search_val(select_item.name)">{{select_item.name}}</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="inputsec" *ngIf="formModel.input_type=='date'">
									<mat-form-field appearance="outline">
										<input matInput placeholder="Select date" [owlDateTime]="picker1" [owlDateTimeTrigger]="picker1" (focus)="picker1.open()"
										 #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data">
										<owl-date-time #picker1 [pickerType]="'calendar'"></owl-date-time>
									</mat-form-field>
								</div>
							</div>
							<div class="footer">
								<a href="javascript:void(0)" class="cnc" (click)="cancel_filter()">Cancel</a>
								<a href="javascript:void(0)" class="apl" (click)="sendSearchData()">Apply</a>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- search tag -->
		</div>

		<!--  <button mat-icon-button  class="white-ripple pull-right"  (click)="generateGrid(0,'','','','',show_item_wise_order)"><mat-icon  class="icon-close"></mat-icon></button> -->
		<button mat-icon-button class="white-ripple pull-right" (click)="CloseFilter($event)">
			<mat-icon class="icon-close"></mat-icon>
		</button>
	</div>
	<div class="body-part">
		<div class="table-list" *ngIf="showSkeletonLoaded">
			<table>
				<tr>
					<th class="check-select">
						<mat-checkbox name="selectedAll" [(ngModel)]="selectedAll" id="list-all" (change)="toggleCheckAll($event)"></mat-checkbox>
					</th>
					<ng-container>
						<th class="short" *ngFor="let item of temp_col"><span></span>
						</th>
					</ng-container>
				</tr>
				<tr *ngFor="let item of temp_result">
					<td>
						<div></div>
						<ng-template>
							<mat-checkbox name="Selected" id="list"></mat-checkbox>
						</ng-template>
					</td>
					<ng-container>
						<td *ngFor="let item of temp_col">
							<ng-container>
								<div class="skeleto-loader"></div>
							</ng-container>
						</td>
					</ng-container>
				</tr>
			</table>
		</div>
		<div *ngIf="!showSkeletonLoaded" [ngClass]="'table-list order responsive-table'">
			<table>
				<thead>
					<tr>
						<th class="check-select">
							<mat-checkbox name="selectedAll" [(ngModel)]="selectedAll" id="list-all" (change)="toggleCheckAll($event)"></mat-checkbox>
						</th>
						<ng-container *ngFor="let col of cols">
							<th *ngIf="col.show == 1" class="short" (click)="generateGrid(0,1,col.field,filter,search.value,show_item_wise_order)">{{col.title}}<span
								 [class]="(sortBy==col.field)?sortClass:''"></span>
								<span class="icon-up up" *ngIf="sortBy!=col.field"></span>
								<span class="icon-down down" *ngIf="sortBy!=col.field"></span>
							</th>
						</ng-container>
					</tr>
				</thead>
				<tbody>
					<tr [class.chec]="row.selected" *ngFor="let row of result_list">
						<td>
							<mat-checkbox name="row.Selected" id="list{{row.id}}" [checked]="row.selected" (change)="toggleCheck(row.id,$event)"></mat-checkbox>
						</td>
						<ng-container *ngFor="let col of cols">
							<td *ngIf="col.show == 1" attr.data-th="{{col.title}}" align="{{ (col.field_type=='p' || col.field_type=='n')?'right':'' }}"
							 >
								<span [ngClass]="col.field=='order_status' ? (row.class_name) : '' || col.field=='shipping_status'?(row.shipping_class_name) : '' || col.field=='return_status'?(row.return_status_name) : '' ">

									<ng-container *ngIf="col.field_type=='p' && col.field!='tag_names' && col.field!='custom_order_id' && col.field!='delivery_name'">
										{{((col.child!='')?((row[col.child])?row[col.child][col.field]:''):row[col.field])| number: '1.2-2' }}
									</ng-container>
									<ng-container *ngIf="col.field_type!='p' && col.field!='tag_names'  && col.field!='custom_order_id' && col.field!='delivery_name'">
										{{((col.child!='')?((row[col.child])?row[col.child][col.field]:''):row[col.field])|limitTo:50 }}
									</ng-container>
									<ng-container *ngIf="col.field =='tag_names'">
										<div *ngFor="let tagsData of row.tag_names;">
											<div class="tagsClass" [ngStyle]="{'background-color':tagsData.color_code}" title="{{tagsData.tag_name}}" *ngIf="tagsData.tag_name != '' || tagsData.tag_name != null"></div>
										</div>
									</ng-container>
									<ng-container *ngIf="col.field == 'custom_order_id' || col.field == 'delivery_name'">
										<a href="javascript:void(0)" (click)="globalService.addTab(childData.tablink,childData.tablink+'/details/'+row.id+'','View '+childData.heading,childData.tabparrentid);globalService.navigateToUrl('/'+childData.tablink+'/details/'+row.id+'');" *ngIf="col.field == 'custom_order_id'">{{row.custom_order_id}}</a> 
										<a href="javascript:void(0)" (click)="globalService.addTab('editcustomers','customers/edit/'+row.customer.id+'','Edit Customers',childData.tabparrentid);globalService.navigateToUrl('/customers/edit/'+row.customer.id+'')" *ngIf="col.field == 'delivery_name'">{{row.delivery_name}}</a>
									</ng-container>
								</span>
							</td>
						</ng-container>
					</tr>
					<tr *ngIf="pagination.total_page==0">
						<td [attr.colspan]="colSpanCount" align="center">No records found</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- ******  order hide panel ****** -->
		<div class="order_hidepanel" id="side_panel">
			<div class="remove_blog">
				<a href="javascript:void(0)" (click)="close_sidepanel()"><span class="icon-right"></span></a>
			</div>
			<mat-accordion>
				<mat-expansion-panel expanded>
					<mat-expansion-panel-header>
						<mat-panel-title>
							ORDER INFORMATION
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<!-- expansion custom panel -->
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">

							<tbody>
								<tr>
									<td width="120" align="left" class="lightcolor">Store</td>
									<td align="left">{{order_information.store}}</td>
								</tr>
								<tr>
									<td width="120" align="left" class="lightcolor">Order Id</td>
									<td align="left" class="redcolor">{{order_information.order_id}}</td>
								</tr>
								<tr>
									<td width="120" align="left" class="lightcolor">Date & Time</td>
									<td align="left">{{order_information.created | date:'medium'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- expansion custom panel -->
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							ITEM INFORMATION
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<!-- expansion custom panel -->
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th align="left" class="lightcolor">SKU</th>
									<th align="center" class="lightcolor">Qty.</th>
									<th align="right" class="lightcolor">Price</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of item_information; let i=index">
									<td align="left">{{item.product.sku}}</td>
									<td align="center">{{item.quantity}}</td>
									<td align="right">{{other_information.currency_code}} {{item.product_price | number: '1.2-2'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- expansion custom panel -->
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							CUSTOMER INFO
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">

							<tbody>
								<tr>
									<td align="left" class="lightcolor">Customer Name</td>
									<td align="left">{{customer_information.first_name}} {{customer_information.last_name}}</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Email Address</td>
									<td align="left">{{customer_information.email}}</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Mobile Number</td>
									<td align="left">{{customer_information.phone}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- expansion custom panel -->
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							DELIVERY INFORMATION
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="left" class="lightcolor">Delivery Date :</td>
									<td align="left"><span> {{delivery_information.slot_date | date}}</span> </td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Delivery Time :</td>
									<td align="left"><span>{{delivery_information.slot}}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							DELIVERY ADDRESS
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">

							<tbody>

								<tr>
									<td align="left" class="lightcolor">Address :</td>
									<td align="left"><span>{{delivery_information.delivery_street_address}} </span> </td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Area :</td>
									<td align="left"><span>{{delivery_information.delivery_street_address1}}</span> </td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Country :</td>
									<td align="left"><span> {{delivery_information.country}}</span>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">State :</td>
									<td align="left"><span>{{delivery_information.state}}</span>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">City :</td>
									<td align="left"><span>{{delivery_information.city}}</span>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Zipcode :</td>
									<td align="left"><span>{{delivery_information.zipcode}} </span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- expansion custom panel -->
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							PAYMENT TYPE
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="left" class="lightcolor">Payment Method :</td>
									<td align="left"><span>{{other_information.payment_method}}</span> </td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Currency :</td>
									<td align="left"><span>{{other_information.currency_code}}</span> </td>
								</tr>
								<tr>
									<td align="left" class="lightcolor"> Transaction ID :</td>
									<td align="left"><span>{{other_information.pay_txntranid}}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							ORDER SUMMARY
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">

							<tbody>
								<tr>
									<td align="left" class="lightcolor">Net Amount</td>
									<td align="left"><i *ngIf="order_summary_information.net_amount!=''">{{other_information.currency_code}}
											{{order_summary_information.net_amount | number: '1.2-2'}}</i>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Tax Amount</td>
									<td align="left"><i *ngIf="order_summary_information.paid_amount!=''">{{other_information.currency_code}}
											{{order_summary_information.tax_amount | number: '1.2-2'}}</i>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Shipping Cost</td>
									<td align="left"><i *ngIf="order_summary_information.shipping_cost!=''">{{other_information.currency_code}}
											{{order_summary_information.shipping_cost | number: '1.2-2'}}</i>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">COD Cost</td>
									<td align="left"><i *ngIf="order_summary_information.cod_cost!=''">{{other_information.currency_code}}
											{{order_summary_information.cod_cost | number: '1.2-2'}}</i>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Grand Total</td>
									<td align="left"> <i *ngIf="order_summary_information.gross_amount!=''">{{other_information.currency_code}}
											{{order_summary_information.gross_amount | number: '1.2-2'}}</i>
									</td>
								</tr>
								<tr>
									<td align="left" class="lightcolor">Amount Paid</td>
									<td align="left"><i *ngIf="order_summary_information.paid_amount!=''">{{other_information.currency_code}}
											{{order_summary_information.paid_amount | number: '1.2-2'}}</i>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</mat-expansion-panel>

				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							SPECIAL INSTRUCTION
						</mat-panel-title>
						<div class="cus_matopen"><span class="icon-addsvg"></span>
						</div>
						<div class="cus_matoclose"><span class="icon-minus"></span>
						</div>
					</mat-expansion-panel-header>
					<div class="mat_tablewrap">
						<table cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="left" class="lightcolor">Special Instruction</td>
									<td align="left">{{other_information.custom_msg}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</div>
		<!-- ******  order hide panel ****** -->
	</div>
	<div class="clear"></div>
</section>
<div class="pagination-box" *ngIf="pagination.total_page>1">
	<span *ngFor="let list of total_list | paginate: config"></span>
	<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="generateGrid(0,$event,'',filter,search.value,show_item_wise_order)"
	 [maxSize]="maxSize">
		<ul class="pagination">
			<li class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()">
				<a (click)="p.previous()"><span class="icon-left"></span></a>
			</li>
			<li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
				<a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value"><span>{{ page.label }}</span></a>
				<a *ngIf="p.getCurrent() === page.value"><span>{{ page.label }}</span></a>
			</li>
			<li class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()">
				<a (click)="p.next()"><span class="icon-right"></span></a>
			</li>
		</ul>
	</pagination-template>
</div>
<div class="clear"></div>