<div class="container">
    <!-- <button style="width: auto;" type="button" class="btn btn-success btn-sm">go Go bottom</button> -->
    <div class="row pickerinput"
        [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">

        <div class="row" style="width: 50%;margin-top: 1%;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stretch-card grid-margin" style="padding: 4% 9% 3% 3%;">
                <div>
                    <h4>Order Details</h4>
                </div>
                <div *ngIf="IS_Subtitute === true" style="margin-left:3%">
                    <button *ngIf="userOrderdata.orderlistType !== 'cancelled' && userOrderdata.orderlistType !== 'shipped' &&
                    orderDetaildata['data'][0]?.order_products"
                        [disabled]="!userOrderdata.picker_name || paymentonlineTimer !== true" style="width: auto;"
                        type="button" (click)="processOrder()" class="btn btn-success btn-sm">Process the order</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-6 col-lg-8 grid-margin">
            <div style="width: 100%;">
                <!-- Detail of order list data -->
                <table class="table table-data">
                    <tr>
                        <td>
                            <label for="orderby">Order prepared by</label>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" [disabled]="userOrderdata.picker_name" #username
                                    [value]="userOrderdata.picker_name"
                                    (keyup.enter)="AssaignorderToUser(username.value)" class="form-control"
                                    placeholder="Order prepared by" id="orderby">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Bill Number</td>
                        <td
                            [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                            <!-- <div (click)="BillnumberModal(orderDetaildata['data'][0]?.channel_order_id)"
                                *ngIf="orderDetaildata['data'][0]?.channel_order_id"
                                [disabled]="!userOrderdata.picker_name" class="colorclass"
                                [(ngModel)]="product_billnumber">
                                {{orderDetaildata['data'][0]?.channel_order_id}}
                            </div>
                            <p style="color: cyan;" *ngIf="!orderDetaildata['data'][0]?.channel_order_id"
                                (click)="BillnumberModal(product_billnumber)">
                                {{product_billnumber}}
                            </p> -->
                            <!-- <span style="color: cyan;" (click)="BillnumberComponent()" *ngIf="!orderDetaildata['data'][0]?.channel_order_id">Enter Bill Number</span> -->

                            <input style="color: #28afaf;" #bnumber
                                [disabled]="userOrderdata.orderlistType === 'cancelled'"
                                [ngStyle]="{'border-color':product_billnumber === null ? 'gray' : customcolor }"
                                (click)="BillnumberModal(orderDetaildata['data'][0]?.channel_order_id)"
                                [disabled]="!userOrderdata.picker_name"
                                [value]="orderDetaildata['data'][0]?.channel_order_id" class="colorclass"
                                placeholder="Enter Bill Number" type="text" [(ngModel)]="product_billnumber"
                                class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>Order ID </td>
                        <td>{{orderDetaildata['data'][0]?.custom_order_id}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>
                            <span style="color: green;"
                                *ngIf="orderDetaildata['data'][0]?.order_status === 100 && userOrderdata.substitute_status === 'none'">Assigned</span>
                            <span style="color: red;" *ngIf="orderDetaildata['data'][0]?.order_status === 0">New</span>
                            <span style="color: 	#00CED1;"
                                *ngIf="orderDetaildata['data'][0]?.order_status === 100 && userOrderdata.substitute_status === 'pending'">Subs.Out</span>
                            <span style="color: #00008B;"
                                *ngIf="orderDetaildata['data'][0]?.order_status === 100 && userOrderdata.substitute_status === 'done'">Subs.In
                            </span>

                            <span style="color:gray;"
                                *ngIf="orderDetaildata['data'][0]?.order_status === 1 && orderDetaildata['data'][0]?.order_shipment.shipment_status === 'Shipped'">In-Shipping
                            </span>
                            <span style="color:#800080;"
                                *ngIf="orderDetaildata['data'][0]?.order_status === 2">Cancelled
                            </span>

                        </td>
                    </tr>
                    <tr>
                        <td>Customer</td>
                        <td>{{orderDetaildata['data'][0]?.customer?.first_name}}
                            {{orderDetaildata['data'][0]?.customer?.last_name}}
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{orderDetaildata['data'][0]?.delivery_phone}}</td>
                    </tr>
                    <tr>
                        <td>Delivery Address</td>
                        <td>{{orderDetaildata['data'][0]?.billing_name}},
                            {{orderDetaildata['data'][0]?.delivery_street_address}},
                            {{orderDetaildata['data'][0]?.delivery_state_name}}

                            <div class="highlight_edits"
                                style="background-color:gray; display: initial;margin-left: 3%;padding: 2% !important;"
                                [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                                *ngIf="userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ">
                                <span style="color: white;cursor: pointer;"
                                    [ngStyle]="{'pointer-events':userOrderdata.picker_name === null ? 'none' : 'auto' }"
                                    (click)="openmap(orderDetaildata['data'][0]?.customer_addressbook)">View in map
                                </span>
                            </div>

                            <div *ngIf="userOrderdata.orderlistType !== 'cancelled' && userOrderdata.orderlistType !== 'shipped' "
                                class="highlight_edits" style="display: initial;margin-left: 3%;padding: 2%;"
                                [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                                <span style="color: white;cursor: pointer;"
                                    [ngStyle]="{'pointer-events':userOrderdata.picker_name === null ? 'none' : 'auto' }"
                                    (click)="openmap(orderDetaildata['data'][0]?.customer_addressbook)">View in map
                                </span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>Order date and time</td>
                        <td>
                            {{orderDetaildata['data'][0]?.created | date:'d MMM, y, h:mm a' }}
                        </td>
                    </tr>
                    <tr>
                        <td [ngStyle]="{'padding-top':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? '3%' : '5%'}">Delivery Time</td>
                        <td style="padding: 0px;">
                            <div class="highlight_edits" style="margin-top: 3%;padding: 1%;"
                                [ngStyle]="{'background-color':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'gray' : 'white',
                                'margin-top':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? '3%' : '0%' }">
                                <div 
                                    [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' ,
                                    'color':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'white' : 'black' }">
                                    {{orderDetaildata['data'][0]?.time_slot_date | date : 'longDate'}}
                                    <p style="display: contents;color: white;margin-top: 2%;"
                                        *ngIf="userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped'">
                                        {{orderDetaildata['data'][0]?.slot_end_time}}</p>
                                    <!-- <mat-form-field appearance="fill"
                                        *ngIf="userOrderdata.orderlistType === 'shipped' || userOrderdata.orderlistType === 'cancelled'">
                                        <input style="color: white !important;background-color:gray"
                                            [disabled]="!userOrderdata.picker_name" matTimepicker #t="matTimepicker"
                                            #time="ngModel" [minDate]="minValue" [maxDate]="maxValue" [strict]="false"
                                            mode="24h" [value]="datetime" [ngModel]="datetime"
                                            [placeholder]="orderDetaildata['data'][0]?.slot_end_time" name="time"
                                            [errorStateMatcher]="customErrorStateMatcher"
                                            (timeChange)="timeChangeHandler($event,orderDetaildata['data'][0]?.slot_start_time)"
                                            (invalidInput)="invalidInputHandler()">
                                        <mat-icon [disabled]="!userOrderdata.picker_name" matSuffix
                                            (click)="t.showDialog()">access_time</mat-icon>
                                        <mat-error *ngIf="time.touched && time.invalid">Invalid Date</mat-error>
                                    </mat-form-field> -->

                                    <!-- [disabled]="!userOrderdata.picker_name" -->
                                    <mat-form-field appearance="fill"
                                        *ngIf="userOrderdata.orderlistType !== 'cancelled' && userOrderdata.orderlistType !== 'shipped'">
                                        <input style="color: black !important;caret-color: transparent;width: 50%;"
                                            [ngStyle]="{'background-color':userOrderdata.orderlistType === 'shipped' ? 'gray' : 'white' }"
                                            matTimepicker #t="matTimepicker" #time="ngModel" [minDate]="minValue"
                                            [maxDate]="maxValue" [strict]="false" mode="24h" [value]="datetime"
                                            [ngModel]="datetime"
                                            [placeholder]="orderDetaildata['data'][0]?.slot_end_time" name="time"
                                            [errorStateMatcher]="customErrorStateMatcher"
                                            (timeChange)="timeChangeHandler($event,orderDetaildata['data'][0]?.slot_start_time)"
                                            (invalidInput)="invalidInputHandler()">
                                        <!-- An icon for the timepicker input that will open the timepicker dialog when clicked -->
                                        <!-- <mat-icon [disabled]="!userOrderdata.picker_name" matSuffix
                                            >access_time</mat-icon> -->
                                        <!-- Error that will be shown when the input date is invalid -->
                                        <button
                                            (timeChange)="timeChangeHandler($event,orderDetaildata['data'][0]?.slot_start_time)"
                                            (click)="t.showDialog()"
                                            style="position: absolute;display: inline;margin-top: -5%;" type="button"
                                            class="btn btn-primary btn-sm">Edit time</button>
                                        <!-- <mat-error *ngIf="time.touched && time.invalid">Invalid Date</mat-error> -->
                                    </mat-form-field>

                                </div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td>
                            <span>
                                {{orderDetaildata['data'][0]?.currency_code}}
                                {{orderDetaildata['data'][0]?.net_amount}}
                            </span>
                        </td>
                    </tr>
                    <!-- New product value is disbaled  -->
                    <!-- <tr>
                        <td>New Value of Products :</td>
                        <td>
                            <div class="highlight_edits"
                                [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' 
                        ,'background-color':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'gray' : 'blue' }">
                                <p *ngIf="!orderDetaildata['data'][0]?.order_net_amount && !price" class="newprice"
                                    (click)="updatePrice(orderDetaildata['data'][0]?.order_net_amount, orderDetaildata['data'][0]?.net_amount)"
                                    [ngStyle]="{'pointer-events':userOrderdata.picker_name === null ? 'none' : 'auto' }"
                                    >
                                    Enter Product price
                                </p>

                                <p *ngIf="price && !orderDetaildata['data'][0]?.order_net_amount" class="newprice"
                                    (click)="updatePrice(orderDetaildata['data'][0]?.order_net_amount,orderDetaildata['data'][0]?.net_amount,orderDetaildata['data'][0],'picker-updateorderdetails/')">
                                    {{price}}</p>
                                <div *ngIf="orderDetaildata['data'][0]?.order_net_amount || price"
                                    (click)="updatePrice(orderDetaildata['data'][0]?.order_net_amount,orderDetaildata['data'][0]?.net_amount)">
                                    <p>{{orderDetaildata['data'][0]?.order_net_amount}}</p>
                                </div>
                            </div>

                        </td>
                    </tr> -->
                    <tr>
                        <td>Shipping Cost</td>
                        <td><span>{{orderDetaildata['data'][0]?.currency_code}}
                                {{orderDetaildata['data'][0]?.shipping_cost}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Shipping Discount</td>
                        <td><span>{{orderDetaildata['data'][0]?.currency_code}}
                                {{orderDetaildata['data'][0]?.cart_discount}}</span></td>
                    </tr>
                    <tr>
                        <td>Other Discounts</td>
                        <td><span>{{orderDetaildata['data'][0]?.currency_code}}
                                {{orderDetaildata['data'][0]?.gross_discount_amount}}</span></td>
                    </tr>
                    <mat-divider></mat-divider>
                    <tr>
                        <td>
                            <strong class="paymentfooter">Grand Total</strong>
                        </td>
                        <td>
                            <strong class="paymentfooter">
                                {{orderDetaildata['data'][0]?.currency_code}}
                                {{orderDetaildata['data'][0]?.gross_amount}}
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="paymentfooter">Payment Method</span>
                        </td>
                        <td>
                            <span class="paymentfooter">
                                {{orderDetaildata['data'][0]?.payment_method_name}}
                            </span>
                        </td>
                    </tr>
                    <!-- <mat-divider></mat-divider> -->
                </table>

                <!-- adding items -->
                <div class="add-items" *ngIf="orderDetaildata['data'][0]?.order_products">
                    <div style="background: green;text-align: -webkit-center;width: 97%;margin-bottom: 6%;">
                        <h6 class="itemdivider"><span>Picking List</span></h6>
                    </div>
                    <!-- Add more button -->
                    <div class="row row-margin"
                        [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stretch-card grid-margin"
                            style="display: block;">
                            <button [disabled]="!userOrderdata.picker_name"
                                (click)="openDialog('picker-productlist/','picker-addmoreproduct','Add New Product','',1,'','','')"
                                type="button" class="btn btn-light">
                                <mat-icon>control_point</mat-icon>
                                Add More
                            </button>
                            <button [disabled]="!userOrderdata.picker_name" type="button"
                                (click)="downloadCSV(orderDetaildata['data'][0]?.order_products)" style="width: 98px;"
                                class="btn btn-light csv-btn">
                                <mat-icon style="left: 8%;">get_app</mat-icon> CSV
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row substitute-container" style="margin-right: 0%;margin-left: 0px;">
                    <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12 stretch-card grid-margin"
                        *ngFor="let products of orderDetaildata['data'][0]?.order_products, let i=index">
                        <!-- [ngStyle]="{'background-color':products?.quantity === 'UK' ? 'green' : 'red' }" -->
                        <div class="layover-root" *ngIf="products?.quantity === products?.grn_quantity + products?.shortage  ||
                            userOrderdata.orderlistType === 'cancelled'"
                            [ngStyle]="{'z-index':userOrderdata.orderlistType === 'cancelled' ? 2 : 1 }">
                            <div class="layover">
                            </div>
                        </div>
                        <img *ngIf="products?.quantity === products?.grn_quantity + products?.shortage  ||
                        userOrderdata.orderlistType === 'cancelled'" class="checkmark_img" style="z-index: 5;"
                            src="assets/images/product/toggle_checked.png" alt="">
                        <table
                            [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                            style="z-index: 1;"
                            [ngStyle]="{'opacity':products.grn_quantity + products.shortage === products?.quantity ? '0.5' : '1' }">

                            <tr>
                                <td style="width: 180px;">
                                    <img class="productimg" style="width: 100%;"
                                        [src]="products?.product.product_images[0]?.link+''+products?.product.product_images[0]?.img"
                                        alt="">
                                </td>
                                <td style="line-height:2">
                                    <h6 style="color: green;">{{products?.product.name}}</h6>
                                    <!-- <br> -->
                                    Quantity Ordered: <span>{{products?.quantity}}</span><br>
                                    Unit Price: <span>{{orderDetaildata['data'][0]?.currency_code}}
                                        {{products?.product_price/products?.quantity *products?.quantity |
                                        currency:'':''}}</span>
                                    <button style="margin: 1px 1px 9px 20px;"
                                    [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                                        (click)=" updatePrice(products?.product_price,products?.weight, '',products,'picker-updatepicklistproductinfo/','unitprice')"
                                        type="button" class="btn btn-primary btn-sm">Edit Unit Price</button>
                                    <br>
                                    Unit Weight: <span>{{conertvaluetodecimal(products?.weight * products?.quantity/
                                        products?.quantity)}}
                                        {{products?.product.uom.uom_name}}</span> <br>
                                    Total Weight: <span>{{conertvaluetodecimal(products?.weight * products?.quantity)}}
                                        {{products?.product.uom.uom_name}}</span>
                                    <!-- <strong>Unit Weight : {{products?.weight /products?.quantity}}
                                            {{products?.product.uom.uom_name}}</strong> <br>
                                        Total Weight : <strong>{{products?.weight}}
                                            {{products?.product.uom.uom_name}}</strong> -->
                                    <button style="margin: 1px 1px 9px 20px;" (click)="openEditModal(products)"
                                    [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                                        type="button" class="btn btn-primary btn-sm">Edit Total
                                        Weight</button>
                                    <br>


                                    <strong> Total Price: {{products?.product_price * products?.grn_quantity |
                                        currency:'':''}}</strong><br>

                                    <div>

                                    </div>
                                    <div class="row row-margin">
                                        <div style="z-index: 1;"
                                            [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                                            class="col-xs-6 col-sm-6 col-md-6 col-lg-6 stretch-card grid-margin">

                                            <div>
                                                <strong>Available</strong>
                                                <div class="btn-left" style="z-index: 999">
                                                    <mat-icon
                                                        [ngStyle]="{'pointer-events':userOrderdata.picker_name === null || userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto'}"
                                                        (click)="productDecerment(products.grn_quantity,products.id,products.product.id,products.shortage,i,'','','','','')"
                                                        [disabled]="!userOrderdata.picker_name" class="left-icon">
                                                        minimize</mat-icon>
                                                    <!-- <input [(ngModel)]="item_available" type="text"
                                                        class="form-control"> -->
                                                    <input *ngIf="products?.grn_quantity"
                                                        [value]="products?.grn_quantity" type="number"
                                                        class="form-control">

                                                    <input *ngIf="!products?.grn_quantity" value="0" type="number"
                                                        class="form-control">

                                                    <mat-icon class="right-icon" (click)="productIncrment(products.grn_quantity,products.product.id,products.id,products.shortage,i,
                                                        '','','','','',products.product.ean)"
                                                        [ngStyle]="{'pointer-events':userOrderdata.picker_name === null || userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                                                        add</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 stretch-card grid-margin"
                                            [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                                            <div>
                                                <strong>Shortage</strong>
                                                <div class="btn-right" style="z-index: 999;position: absolute;">
                                                    <mat-icon matRipple
                                                        [ngStyle]="{'pointer-events':userOrderdata.picker_name === null || userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                                                        (click)="productDecerment(products.shortage,products.product.id,products.id,products.shortage,i,'picker-substituteproductlist/','picker-addsubstituteproduct','Add Subtitute Product',products?.id,2)"
                                                        class="left-icon">
                                                        minimize</mat-icon>

                                                    <input *ngIf="products?.shortage" [value]="products?.shortage"
                                                        type="number" class="form-control">

                                                    <input *ngIf="!products?.shortage" value="0" type="number"
                                                        class="form-control">

                                                    <mat-icon matRipple
                                                        [ngStyle]="{'pointer-events':userOrderdata.picker_name === null || userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                                                        (click)="productIncrment(products.shortage,products.product.id,products.id,products.shortage,i,'picker-substituteproductlist/','picker-addsubstituteproduct','Add Subtitute Product',products?.id,2,products.product.ean)
                                                        " class="right-icon">add</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- Approved products -->
                <div class="row substitute-container" style="margin-right: 0%;margin-left: 0px;">
                    <div class="col-xs-12  col-sm-12  col-md-12 col-lg-12 stretch-card grid-margin"
                        [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }"
                        *ngFor="let subt_products of orderDetaildata['data'][0]?.order_substitute_products, let i=index">
                        <div *ngIf="subt_products?.send_approval === 'approve'" style="width: 97%;">
                            <!-- [ngStyle]="{'background-color':products?.quantity === 'UK' ? 'green' : 'red' }" -->
                            <div class="layover-root"
                                *ngIf="subt_products?.quantity === subt_products?.grn_quantity + subt_products?.shortage">
                                <img src="assets/images/product/toggle_checked.png" alt="">
                                <div class="layover" style="opacity: 0.3;">
                                </div>
                            </div>
                            <table style="width: 97%;">
                                <tr>
                                    <td style="width: 180px;">
                                        <img class="productimg" style="width: 100%;"
                                            [src]="subt_products?.product.product_images[0]?.link+''+subt_products?.product.product_images[0]?.img"
                                            alt="">
                                        <button type="button" style="bottom: 4%;position: absolute;left: 2%;"
                                            class="btn btn-primary">Substitute</button>
                                    </td>
                                    <td style="line-height:2">
                                        <h6>{{subt_products?.product.name}}</h6>
                                        <!-- <button (click)="openEditModal(subt_products)" type="button"
                                            class="btn btn-danger">Edit
                                            Weight</button><br> -->
                                        Quantity Ordered: <span>{{subt_products?.quantity}}</span><br>
                                        Unit Price: <span>{{subt_products?.product_price}}</span><br>
                                        <span>Unit Weight: {{subt_products?.product.weight}}
                                            {{subt_products?.product.uom.uom_name}}</span> <br>
                                        Total Weight :
                                        <span>{{subt_products?.product.weight * subt_products?.quantity}}
                                            {{subt_products?.product.uom.uom_name}}</span><br>

                                        Total Price :
                                        <strong>{{subt_products?.product_price *
                                            subt_products?.grn_quantity}}</strong><br>
                                        <div>

                                        </div>
                                        <div class="row row-margin"
                                            [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 stretch-card">

                                                <div>
                                                    <strong>Available</strong>
                                                    <div class="btn-left">
                                                        <mat-icon
                                                            (click)="productDecerment(subt_products.grn_quantity,subt_products.id,subt_products.product.id,subt_products.shortage,i,'','','','','')"
                                                            [disabled]="!userOrderdata.picker_name" class="left-icon">
                                                            minimize</mat-icon>
                                                        <!-- <input [(ngModel)]="item_available" type="text"
                                                    class="form-control"> -->
                                                        <input *ngIf="subt_products?.grn_quantity"
                                                            [value]="subt_products?.grn_quantity" type="number"
                                                            class="form-control">

                                                        <input *ngIf="!subt_products?.grn_quantity" value="0"
                                                            type="number" class="form-control">

                                                        <mat-icon [disabled]="!userOrderdata.picker_name"
                                                            class="right-icon" (click)="productIncrment(subt_products.grn_quantity,subt_products.product.id,subt_products.id,subt_products.shortage,i,
                                                    '','','','','',subt_products.product.ean)">
                                                            add</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 stretch-card"
                                                [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                                                <div>
                                                    <strong>Not Available</strong>
                                                    <div class="btn-right">
                                                        <mat-icon matRipple [disabled]="!userOrderdata.picker_name"
                                                            (click)="productDecerment(subt_products.shortage,subt_products.product.id,subt_products.id,subt_products.shortage,i,'picker-substituteproductlist/','picker-addsubstituteproduct','Add Subtitute Product',subt_products?.id,2)"
                                                            class="left-icon" [disabled]="">
                                                            minimize</mat-icon>

                                                        <input *ngIf="subt_products?.shortage"
                                                            [value]="subt_products?.shortage" type="number"
                                                            class="form-control">

                                                        <input *ngIf="!subt_products?.shortage" value="0" type="number"
                                                            class="form-control">

                                                        <mat-icon matRipple [disabled]="!userOrderdata.picker_name"
                                                            (click)="productIncrment(subt_products.shortage,subt_products.product.id,subt_products.id,subt_products.shortage,i,'picker-substituteproductlist/','picker-addsubstituteproduct','Add Subtitute Product',subt_products?.id,2,subt_products.product.ean)
                                                    " class="right-icon">add</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <!-- end loop -->
                            <!-- <div  *ngIf="subt_products?.send_approval === 'approve' && i === 0">
                    <p>Replacement request has been approved by the customer</p>
                </div> -->
                        </div>

                    </div>
                </div>
                <!-- substitute product -->
                <div *ngIf="!IS_Subtitute"
                    [ngStyle]="{'pointer-events':userOrderdata.orderlistType === 'cancelled' || userOrderdata.orderlistType === 'shipped' ? 'none' : 'auto' }">
                    <div class="subtitute_data" *ngIf="orderDetaildata['data'][0]?.order_substitute_products.length">
                        <div class="alert alert-info">
                            <h3>Subtitute Product</h3>
                        </div>
                        <div *ngFor="let subtitute of orderDetaildata['data'][0]?.order_substitute_products"
                            style="margin-bottom: 10%;">
                            <div class="row"
                                *ngIf="subtitute.send_approval !== 'declined'&& subtitute.send_approval !=='approve'">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 stretch-card grid-margin">
                                    <img class="productimg" style="width: 100%;"
                                        [src]="subtitute?.product.product_images[0]?.link+''+subtitute?.product.product_images[0]?.img"
                                        alt="">
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <strong style="color: green;">{{subtitute?.product.name}}</strong><br>
                                    <div>Price:<strong>{{orderDetaildata['data'][0]?.currency_code}}
                                            {{subtitute.product_price}}</strong></div>
                                    <!-- <strong>Available</strong> -->
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <span>{{subtitute.product.weight}} {{subtitute.product.uom.uom_name}}</span>
                                </div>
                            </div>
                        </div>

                        <!-- for approval -->
                        <button type="button" style="width: 100%;" *ngIf="isProductSendFor_Approval"
                            (click)="sendProductSubtituteApproval(orderDetaildata['data'][0]?.order_substitute_products,orderDetaildata['data'][0]?.channel_order_id,product_billnumber)"
                            class="btn btn-success">Send for Approval
                            <!-- <countdown *ngIf="IsTimeComplete === true" [config]="{leftTime: leftTime, notify: [ 2, 5 ]}"
                                (event)="handleEvent($event)">
                            </countdown> -->
                        </button><br>
                        <!-- for pending -->
                        <button type="button" style="cursor: none;"
                            [disabled]="userOrderdata.substitute_status === 'pending'" style="width: 100%;"
                            *ngIf="userOrderdata.substitute_status === 'pending' && isProductSendFor_Approval === false"
                            class="btn btn-success">Product sent
                            for Approval,Please wait for customer response
                            <countdown y [config]="{leftTime: leftTime, notify: [ 2, 5 ]}"
                                (event)="handleEvent($event)">
                            </countdown>
                        </button><br>
                        <button
                            *ngIf="IsTimeComplete === false&& isProductSendFor_Approval === true && userOrderdata.substitute_status === 'pending'"
                            [disabled]="!userOrderdata.picker_name" type="button" (click)="declinedProduct()"
                            class="btn btn-success declinedbtn">Declined Product
                        </button>
                        <p style="text-align: center;" *ngIf="!IsTimeComplete">
                            <strong>Send Replacement request to customer for approval</strong><br>
                            <span>please wait for cutomer cofirmation for 10 min</span>
                        </p>
                    </div>
                </div>
                <!-- process order -->
                <div class="row" *ngIf="IS_Subtitute === true">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 stretch-card grid-margin btnpadding">
                        <button *ngIf="userOrderdata.orderlistType !== 'cancelled' && userOrderdata.orderlistType !== 'shipped' &&
                            orderDetaildata['data'][0]?.order_products"
                            [disabled]="!userOrderdata.picker_name || paymentonlineTimer !== true" style="width: 100%;"
                            type="button" (click)="processOrder()" class="btn btn-success">Process the order</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4  col-md-6  col-lg-4 grid-margin col-right">
            <div class="orderlist-heading">
                <h4>Order List</h4>
                <!-- msInfiniteScroll (infiniteScroll)="getNextData()" threshold="15%" -->
                <cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="scroll-viewport"
                    infiniteScroll [infiniteScrollDistance]="0.05" [scrollWindow]="false" [infiniteScrollThrottle]="500"
                    [alwaysCallback]="true" (scrolled)="onScrollDown($event)">
                    <div *ngFor="let order of orderlistdata['data']" class="scroll-inner-data">
                        <mat-card class="orderlist-card"
                            (click)="getOrderDetailData(order.id,order.shipment_id,order.order_status,order.picker_name,order.substitute_status)">
                            <mat-card-header *ngIf="order?.order_status === 0" style="background-color: red;">
                                <mat-card-title>{{order?.custom_order_id}} New</mat-card-title>
                            </mat-card-header>
                            <mat-card-header style="background-color: green;"
                                *ngIf="order?.order_status === 100 && order?.substitute_status === 'none'">
                                <mat-card-title>{{order?.custom_order_id}} Assigned
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-header style="background-color: 	#00CED1;"
                                *ngIf="order?.order_status === 100 && order?.substitute_status === 'pending'">
                                <mat-card-title>{{order?.custom_order_id}} Subs.Out
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-header style="background-color: gray;"
                                *ngIf="order?.order_shipment.shipment_status === 'Shipped' && order?.order_status === 1">
                                <mat-card-title>{{order?.custom_order_id}} In-Shipping
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-header style="background-color: #00008B;"
                                *ngIf="order?.order_status === 100 && order?.substitute_status === 'done'">
                                <mat-card-title>{{order?.custom_order_id}} Subs.In
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-header style="background-color: #800080" *ngIf="order?.order_status === 2">
                                <mat-card-title>{{order?.custom_order_id}} Cancelled
                                </mat-card-title>
                            </mat-card-header>

                            <mat-card-content>
                                <div>
                                    <strong>- Ordered On : </strong><br>
                                    <span>{{order?.created | date : 'medium'}} </span><br>
                                    <span>{{order?.created | datepipe}}</span>
                                </div>
                                <div>
                                    <strong>- Delivery Address : </strong><br>
                                    <span>{{order?.billing_name}},
                                        {{order?.delivery_street_address}}, {{order?.delivery_state_name}} </span>
                                </div>
                                <div>
                                    <strong>- This order is assaign to : </strong><br>
                                    <span>{{order?.order_shipment?.created_by_name}}</span>
                                </div>
                                <div>
                                    <!-- <strong>Price : </strong><br> -->
                                    <strong>{{order?.gross_amount}} {{order?.currency_code}} </strong>
                                </div>
                                <div>
                                    <!-- <span>Payment status :</span><br> -->
                                    <strong>{{order?.payment_method_name}}</strong>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </div>
</div>