<section>
    <div class="pop_upbg">
        <div class="popup_wrap">
			<i class="fa fa-times" style="float: right; font-size: 18px;" aria-hidden="true" (click)="close_dialog()"></i>
			<div class="selectstoreparent">
				<div class="selectstore">
					<button class="add_tocard" (click)="onChangeLocation()">Change Location</button>
				</div>
				<div class="selectstore">
					<button class="add_tocard" (click)="onChangeStoreType()">Change Store Type</button>
				</div>
				<div class="selectstore">
					<button class="add_tocard" (click)="onChangeWareHouse()">Change Store</button>
				</div>
			</div>
        </div>
    </div>
</section>