.footerbtn{

    .btnok{
        float: right;
        width: 16%;
    }

    .btn_cancel{
        float: right;
        margin-right: 8px;
        background: red;
        border-color: red;
    }
}
.confirmationdlg{

    
}
h6{
    font-size: 16px !important;
    font-weight: 500  !important;
}