<section class="container-fluid" *ngIf="isCMS">
  <div class="row">
    <div class="col-12">
        <!-- <div class="container_cuswrap"> -->
            <div class="innerheader">
                <h3>{{widget_data.heading_text}}</h3>
                <div class="showall_text"><a href="#">Show All Category<span class="icon-back"></span></a></div>
            </div>
            <div class="product_row">
                <div class="productblog listingblog listingblogeditor">
                   <div class="off_text">
                      <span class="ng-star-inserted">(20% OFF)</span>
                   </div>
                   <div class="likecard">
                      <a href="javascript:void(0)"><span class="icon-wishlist"></span></a>
                      <div class="addproduct_drop hide">
                         <div class="head">Add Items to Shop List</div>
                         <div class="inputout">
                            <input name="list_name" placeholder="Enter Name" type="text" ng-reflect-name="list_name">
                         </div>
                         <ul class="addpro"></ul>
                      </div>
                   </div>
                   <div class="imagebox"><img src="/assets/images/noimg.png"></div>
                   <div class="textbox">
                      <div class="textrow">
                         <p>Haribo Happy Cola Lemon Fresh 160G</p>
                      </div>
                   </div>
                   <div class="bottomkartbox">
                      <div class="textrow pri">
                         <p class="pricerow pri">AED 7.20 <span class="ng-star-inserted">AED 9.00</span></p>
                      </div>
                   </div>
                   <div class="textrow last add_count">
                      <button class="add_tocard ng-star-inserted">ADD TO CART</button>
                      <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a></div>
                   </div>
                </div>
                <div class="productblog listingblog listingblogeditor">
                   <div class="off_text">
                      <span class="ng-star-inserted">(20% OFF)</span>
                   </div>
                   <div class="likecard">
                      <a href="javascript:void(0)"><span class="icon-wishlist"></span></a>
                      <div class="addproduct_drop hide">
                         <div class="head">Add Items to Shop List</div>
                         <div class="inputout">
                            <input name="list_name" placeholder="Enter Name" type="text" ng-reflect-name="list_name">
                         </div>
                         <ul class="addpro"></ul>
                      </div>
                   </div>
                   <div class="imagebox"><img src="/assets/images/noimg.png"></div>
                   <div class="textbox">
                      <div class="textrow">
                         <p>Haribo Happy Cola Lemon Fresh 160G</p>
                      </div>
                   </div>
                   <div class="bottomkartbox">
                      <div class="textrow pri">
                         <p class="pricerow pri">AED 7.20 <span class="ng-star-inserted">AED 9.00</span></p>
                      </div>
                   </div>
                   <div class="textrow last add_count">
                      <button class="add_tocard ng-star-inserted">ADD TO CART</button>
                      <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a></div>
                   </div>
                </div>
                <div class="productblog listingblog listingblogeditor">
                   <div class="off_text">
                      <span class="ng-star-inserted">(20% OFF)</span>
                   </div>
                   <div class="likecard">
                      <a href="javascript:void(0)"><span class="icon-wishlist"></span></a>
                      <div class="addproduct_drop hide">
                         <div class="head">Add Items to Shop List</div>
                         <div class="inputout">
                            <input name="list_name" placeholder="Enter Name" type="text" ng-reflect-name="list_name">
                         </div>
                         <ul class="addpro"></ul>
                      </div>
                   </div>
                   <div class="imagebox"><img src="/assets/images/noimg.png"></div>
                   <div class="textbox">
                      <div class="textrow">
                         <p>Haribo Happy Cola Lemon Fresh 160G</p>
                      </div>
                   </div>
                   <div class="bottomkartbox">
                      <div class="textrow pri">
                         <p class="pricerow pri">AED 7.20 <span class="ng-star-inserted">AED 9.00</span></p>
                      </div>
                   </div>
                   <div class="textrow last add_count">
                      <button class="add_tocard ng-star-inserted">ADD TO CART</button>
                      <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a></div>
                   </div>
                </div>
                <div class="productblog listingblog listingblogeditor">
                   <div class="off_text">
                      <span class="ng-star-inserted">(20% OFF)</span>
                   </div>
                   <div class="likecard">
                      <a href="javascript:void(0)"><span class="icon-wishlist"></span></a>
                      <div class="addproduct_drop hide">
                         <div class="head">Add Items to Shop List</div>
                         <div class="inputout">
                            <input name="list_name" placeholder="Enter Name" type="text" ng-reflect-name="list_name">
                         </div>
                         <ul class="addpro"></ul>
                      </div>
                   </div>
                   <div class="imagebox"><img src="/assets/images/noimg.png"></div>
                   <div class="textbox">
                      <div class="textrow">
                         <p>Haribo Happy Cola Lemon Fresh 160G</p>
                      </div>
                   </div>
                   <div class="bottomkartbox">
                      <div class="textrow pri">
                         <p class="pricerow pri">AED 7.20 <span class="ng-star-inserted">AED 9.00</span></p>
                      </div>
                   </div>
                   <div class="textrow last add_count">
                      <button class="add_tocard ng-star-inserted">ADD TO CART</button>
                      <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a></div>
                   </div>
                </div>
                <div class="productblog listingblog listingblogeditor">
                   <div class="off_text">
                      <span class="ng-star-inserted">(20% OFF)</span>
                   </div>
                   <div class="likecard">
                      <a href="javascript:void(0)"><span class="icon-wishlist"></span></a>
                      <div class="addproduct_drop hide">
                         <div class="head">Add Items to Shop List</div>
                         <div class="inputout">
                            <input name="list_name" placeholder="Enter Name" type="text" ng-reflect-name="list_name">
                         </div>
                         <ul class="addpro"></ul>
                      </div>
                   </div>
                   <div class="imagebox"><img src="/assets/images/noimg.png"></div>
                   <div class="textbox">
                      <div class="textrow">
                         <p>Haribo Happy Cola Lemon Fresh 160G</p>
                      </div>
                   </div>
                   <div class="bottomkartbox">
                      <div class="textrow pri">
                         <p class="pricerow pri">AED 7.20 <span class="ng-star-inserted">AED 9.00</span></p>
                      </div>
                   </div>
                   <div class="textrow last add_count">
                      <button class="add_tocard ng-star-inserted">ADD TO CART</button>
                      <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a></div>
                   </div>
                </div>
                <div class="productblog listingblog listingblogeditor">
                   <div class="off_text">
                      <span class="ng-star-inserted">(20% OFF)</span>
                   </div>
                   <div class="likecard">
                      <a href="javascript:void(0)"><span class="icon-wishlist"></span></a>
                      <div class="addproduct_drop hide">
                         <div class="head">Add Items to Shop List</div>
                         <div class="inputout">
                            <input name="list_name" placeholder="Enter Name" type="text" ng-reflect-name="list_name">
                         </div>
                         <ul class="addpro"></ul>
                      </div>
                   </div>
                   <div class="imagebox"><img src="/assets/images/noimg.png"></div>
                   <div class="textbox">
                      <div class="textrow">
                         <p>Haribo Happy Cola Lemon Fresh 160G</p>
                      </div>
                   </div>
                   <div class="bottomkartbox">
                      <div class="textrow pri">
                         <p class="pricerow pri">AED 7.20 <span class="ng-star-inserted">AED 9.00</span></p>
                      </div>
                   </div>
                   <div class="textrow last add_count">
                      <button class="add_tocard ng-star-inserted">ADD TO CART</button>
                      <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a></div>
                   </div>
                </div>
            </div>
       <!--  </div> -->
    </div>
  </div>
</section>
<section  class="container-fluid" *ngIf="!isCMS && saleorDealsData && saleorDealsData.length > 0">
  <div class="row">
    <div class="col-12">
        <div class="container_cuswrap">
                <div class="innerheader home">
                        <h3>{{widget_data.heading_text}}</h3>  
                        <!-- <div class="showall_text"><a href="#">Show All Category<span class="icon-back"></span></a></div> -->
                    </div>
            <div class="product_row home">
                <div class="productblog listingblog" *ngFor="let saleordeals of saleorDealsData|slice:0:6;let i= index;">
                    <div class="off_text">
                        <span  *ngIf="saleordeals['selected_product']['disc_type'] == 1 && saleordeals['selected_product']['discount_amount'] > 0">({{saleordeals['selected_product']['discount_amount']}}% OFF)</span>
                        <span *ngIf="saleordeals['selected_product']['disc_type'] == 2 && saleordeals['selected_product']['discount_amount'] > 0">(AED {{saleordeals['selected_product']['discount_amount']}} OFF)</span>
                    </div>
                    <div class="likecard">
                        <a href="javascript:void(0)" (click)="getSaveList(saleordeals.id,'n')">
                            <span class="icon-wishlist"></span>
                        </a>
                        <div [ngClass]="saleordeals.isSaveList?'addproduct_drop': 'addproduct_drop hide'" >
                            <div class="head">Add Items to Shop List</div>
                            <div class="inputout">
                                <input type="text" placeholder="Enter Name"  #list_name="ngModel"  name="list_name" [(ngModel)]="formModel.list_name" (keyup.enter)="addNewSaveList(i,saleordeals.id, formModel.list_name);">
                            </div>
                            <ul class="addpro">
                                <li *ngFor="let savelist of savelist_data; let j=index" (click)="addToSaveList(saleordeals.id, savelist.id, savelist.is_checked)">
                                    <mat-checkbox name="is_checked_{{j}}"  [(ngModel)]="savelist.is_checked" id="is_checked_{{j}}">{{savelist.savelist_name}}</mat-checkbox>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="imagebox">
                         <img [src]="saleordeals['selected_product']['product_image']|imagetransform:['product','400','cover']" (click)="navigateToDetails(saleordeals['selected_product']['slug'])">
                    </div>
                    <div class="textbox">
                            <div class="vag_simbol" [ngClass]="saleordeals['selected_product']['veg_nonveg_type'] && saleordeals['selected_product']['veg_nonveg_type'] == 'Non Veg' ? 'non_veg' : 'veg'" *ngIf="saleordeals['selected_product']['veg_nonveg_type'] != null && saleordeals['selected_product']['veg_nonveg_type'] != 'NA'"></div>
                            <div class="textrow">
                               <p><span *ngIf="saleordeals['selected_product']['brand'] && saleordeals['selected_product']['brand']['name']">{{saleordeals['selected_product']['brand']['name']}}</span>{{saleordeals['selected_product']['name']}}</p>
                            </div>
                     </div>
                     <div class="bottomkartbox" >
                       <!--  <div class="textrow selectrow" *ngIf="saleordeals['variant_product'].length > 1">
                            <mat-form-field appearance="outline">
                              <mat-select [(ngModel)] = "saleordeals['selected_product']">
                               <mat-option *ngFor="let variantProduct of saleordeals['variant_product']" [value]="variantProduct">{{variantProduct['name']}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                       </div> -->
                       <div class="textrow pri">
                           <p class="pricerow pri">{{saleordeals['selected_product']['new_default_price_unit'] | money}}
                               <!-- <span>50.00</span> <span class="off">(30% OFF)</span> -->
                               <span *ngIf="saleordeals['selected_product']['new_default_price_unit'] != saleordeals['selected_product']['default_price'] ">{{saleordeals['selected_product']['default_price'] | money}}</span> 
                               <span>{{saleordeals['selected_product']['weight']}}{{saleordeals['selected_product']['uom']}}</span>
                               
                            </p>  
                       </div>
                       <!-- <div class="textrow last" *ngIf="!cartService.cartDetails['cart_list'] || !cartService.cartDetails['cart_list'][saleordeals['selected_product']['id']]">
                           <button class="add_tocard" (click)="cartService.addOrRemoveItem(saleordeals['selected_product']['id'],1)">ADD TO CART</button>
                           <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a> </div>
                       </div> -->
                    </div>
                    <div class="textrow last add_count" >
                       <ng-container *ngIf="saleordeals['selected_product']['stock_data'] && saleordeals['selected_product']['stock_data']['real_stock'] > 0;else out_of_stock">
                        <button class="add_tocard" *ngIf="!cartService.cartDetails['cart_list'] || !cartService.cartDetails['cart_list'][saleordeals['selected_product']['id']]" (click)="cartService.addOrRemoveItem(saleordeals['selected_product']['id'],1)">ADD TO CART</button>                        
                        <div class="count_box" *ngIf="cartService.cartDetails['cart_list'] && cartService.cartDetails['cart_list'][saleordeals['selected_product']['id']]">
                            <button class="count_btn" (click)="cartService.addOrRemoveItem(saleordeals['selected_product']['id'],cartService.cartDetails['cart_list'][saleordeals['selected_product']['id']]['quantity']-1)"><span class="icon-minus"></span></button>
                            <div class="count_no">{{cartService.cartDetails['cart_list'][saleordeals['selected_product']['id']]['quantity']}}</div>
                            <button class="count_btn" (click)="cartService.addOrRemoveItem(saleordeals['selected_product']['id'],cartService.cartDetails['cart_list'][saleordeals['selected_product']['id']]['quantity']+1)"><span class="icon-plus"></span></button>
                        </div>
                        <div class="likebox"><a class="liked" href="javascaript:void(0)"><span class="icon-valentines-heart"></span></a> </div>
                    </ng-container>
                    <ng-template #out_of_stock>
                        <button class="add_tocard out_of_stock">Out Of Stock</button>
                    </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>