.main-header {
    height: 11px;

    h4 {
        font-weight: 500;
        font-size  : 20px;
    }
}

.conatiner {
    padding: 8% 5% 3% 5%;
}

label {
    float      : left;
    font-weight: 500;
    font-size  : 16px;
}
table{
    background: white;
    // test
    position: relative;
    border-collapse: collapse;
    border: none;
}
th{
    font-size: 17px;
    font-weight: 500;
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.body {
    padding: 4% 0% 0% 0%;

    .col-left {
        text-align: right;

        .custom-input {
            width        : 100%;
            display      : flex;
            border       : 1px solid lightgray;
            border-radius: 6px;

            mat-icon {
                margin-top: 2%;
            }

            input {
                border: none;
            }
        }

        .search-container {
            width  : 100%;
            display: flex;

            button {
                margin-left: 3%;
            }
        }
    }

    .col-right {
        text-align: right;
    }
}

.table-data {
    table {
        width: 100%;
    }

    h6 {
        font-size  : 16px;
        margin     : 0px;
        font-weight: 500;
    }
}

.editprice {
    color : #2E6B0B;
    cursor: pointer;
}

.search-results {
    height  : 40rem;
    overflow: scroll;
}

.productimg {
    width : fit-content !important;
    height: 100px !important;
}

@media only screen and (max-width: 360) and (max-height: 640) {
    .conatiner {
        padding: 18% 5% 3% 5% !important;
    }
}

th {
    border-bottom: 1px solid #dee2e6;
}