<div class="container-scroller">
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="width: 100%;">
            <!-- <div class="content-wrapper"> -->

            <!-- <div class="row">
                   <div class="col-md-4 stretch-card grid-margin" (click)="navigatePocessingOrder()">
                       <div class="card bg-order-process card-img-holder text-white">
                           <div class="card-body">
                               <img src="assets/images/dashboard/circle.svg" class="card-img-absolute"
                                   alt="circle-image" />
                               <h4 class="font-weight-normal mb-3">Order Processing<i
                                class="mdi mdi-chart-line mdi-24px float-right"></i>
                               </h4>
                               <h6 class="card-text">Order in-processing : {{orderdata['data'].pending_order + orderdata['data'].processing_order}}</h6>
                               <h6 class="card-text">New : {{orderdata['data'].pending_order}}</h6>
                               <h6 class="card-text">Assigned : {{orderdata['data']?.processing_order - orderdata['data']?.substitution_sent_order - orderdata['data']?.substitution_received_order}}</h6>
                               <h6 class="card-text">Substitutions Sent : {{orderdata['data']?.substitution_sent_order}}</h6>
                               <h6 class="card-text">Substitutions Recieved : {{orderdata['data']?.substitution_received_order}}</h6>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4 stretch-card grid-margin"  (click)="navigateOrder('shipped')">
                       <div class="card bg-order-ship card-img-holder text-white">
                           <div class="card-body">
                               <img src="assets/images/dashboard/circle.svg" class="card-img-absolute"
                                   alt="circle-image" />
                               <h4 class="font-weight-normal mb-3">Order In Shipping <i
                                class="mdi mdi-car-estate mdi-24px float-right"></i>
                               </h4>
                               <h2 class="mb-5">{{orderdata['data']?.shipped_order}}</h2>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4 stretch-card grid-margin"  (click)="navigateOrder('cancelled')">
                       <div class="card bg-order-cancelled card-img-holder text-white">
                           <div class="card-body">
                               <img src="assets/images/dashboard/circle.svg" class="card-img-absolute"
                                   alt="circle-image" />
                               <h4 class="font-weight-normal mb-3">Cancelled Orders <i
                                class="mdi mdi-cart-off mdi-24px float-right"></i>
                               </h4>
                               <h2 class="mb-5">{{orderdata['data']?.cancel_order}}</h2>
                           </div>
                       </div>
                   </div>
               </div> -->
            <!-- </div> -->

            <div class="row" style="margin: 4% 0 0 4%;">
                <div class="col-md-8 stretch-card grid-margin">
                    <h5>Dashboard</h5>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Orders Info</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <table class="table table-striped">
                                <tr>
                                    <td matRipple><span>Orders Dashboard</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data'].pending_order + orderdata['data'].pending_order +
                                            orderdata['data'].processing_order + orderdata['data']?.shipped_order +
                                            orderdata['data']?.cancel_order }}</p>
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                                <tr (click)="navigatePocessingOrder()">
                                    <td matRipple class="mainpadding"><span>Pending or New</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data'].pending_order}}</p>
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                                <tr (click)="navigatePocessingOrder()">
                                    <td matRipple class="mainpadding"><span>In-Processing</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data'].pending_order +
                                            orderdata['data'].processing_order}}</p>
                                            <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                        </td>
                                </tr>
                                <tr (click)="navigatePocessingOrder()">
                                    <td matRipple class="subpadding"><span>Assigned</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data']?.processing_order -
                                            orderdata['data']?.substitution_sent_order -
                                            orderdata['data']?.substitution_received_order}}</p>
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                                <tr (click)="navigatePocessingOrder()">
                                    <td matRipple class="subpadding"><span>Substitutions Out</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order"></p>{{orderdata['data']?.substitution_received_order}}
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                                <tr (click)="navigatePocessingOrder()">
                                    <td matRipple class="subpadding"><span>Substitutions In</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data']?.substitution_sent_order}}</p>
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                                <tr (click)="navigateOrder('shipped')">
                                    <td matRipple class="mainpadding"><span>Shipped</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data']?.shipped_order}}</p>
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                                <tr>
                                    <td matRipple class="mainpadding"><span>Completed</span></td>
                                    <td matRipple>12</td>
                                </tr>
                                <tr (click)="navigateOrder('cancelled')">
                                    <td matRipple class="mainpadding"><span>Cancelled</span></td>
                                    <td matRipple>
                                        <p *ngIf="orderdata['data'].processing_order">{{orderdata['data']?.cancel_order}}</p>
                                        <ngx-skeleton-loader *ngIf="!orderdata['data'].processing_order" style="width: 100%;"></ngx-skeleton-loader>
                                    </td>
                                </tr>
                            </table>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-table text-center text-sm-left d-sm-inline-block">Copyright © GO GROCERY
                        Picking Company 2020 </span>
                </div>
            </footer>
        </div>
    </div>
</div>