<div class="conatiner">
    <div class="row header">
        <div class="col-md-12 stretch-card grid-margin">
            <h4>Select Category</h4>
        </div>
    </div>
    <div class="body">
        <div class="formdata">

            <!-- Search form -->
            <form class="form-inline md-form form-sm active-cyan active-cyan-2">
                <mat-icon class="right-icon">search</mat-icon>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search" mdbInput>
            </form>
        </div>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option (click)="listItem('item : '+shoe,'cate 1')" *ngFor="let shoe of [1,2,3,4]" [value]="shoe">
              item : {{shoe}} 
            </mat-list-option>
          </mat-selection-list>

    </div>
</div>
<!-- footer -->
<div class="footer">
    <button (click)="closeModal()" type="button" class="btn btn-success">Close</button>
</div>