.main-header {
    border-bottom: 1px solid gray;
    height       : 30px;

    h4 {
        font-weight: 500;
    }

}
.body{
    padding: 4% 0% 0% 0%;
    .formdata{
        margin-top: 5%;

        input{
            border: none;
            border-bottom: 1px solid darkgray;
        }
    }
}
.footerbtn{
    z-index: 10;
    position: fixed;
    float: right;
    button{
        width: fit-content;
float: right;
background: #037d50;
    }
}
// .footer{
//     width: 100%;
//     background: white;
//     position: fixed;;

// }
mat-selection-list {
    max-height: 400px;
    overflow: auto;
  }
  .form-inline{
    margin-bottom: 2%;
    input{
        border: none;
        border-bottom: 1px solid lightgray;
    }
  }
  ul{
    height: 314px;
  }