<div class="conatiner">
    <div class="row header">
        <div class="col-md-8 stretch-card grid-margin">
            <h4>Update Pricer</h4>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <mat-icon (click)="closeModal()">clear</mat-icon>
        </div>
    </div>
    <div class="body">
        <input placeholder="Enter Price" [(ngModel)]="price"
        type="text" class="form-control">
        <button type="button"(click)="updatePrice()"
        class="btn btn-success">Update Price</button>
    </div>
    </div>

