<footer>
  <div class="container-fluid">
      <div class="container_cuswrap">
          <div class="footermiddle">
              <ul>
                  <li>ABOUT COMPANY</li>
                  <li><a [routerLink]="['/page/about-us']">About Us</a></li>
                  <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                  <li><a [routerLink]="['/page/ourvision-purpose']">Our Vision & Purpose</a></li>
                  <li><a [routerLink]="['/page/quality-standards']">Quality standards</a></li>
                  <!-- <li><a href="#">Awards</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Work with us</a></li>
                  <li><a href="#">Contact Us</a></li> -->
              </ul>

              <ul>
                      <li>Our Policies</li>
                      <li><a href="javascript:void(0)" [routerLink]="['/page/privacy-policy']">Privacy Policy</a></li>
                      <li><a href="javascript:void(0)" [routerLink]="['/page/terms-conditions']">Terms & Conditions</a></li>
                     <!--  <li><a href="#">Quality standards</a></li>
                      <li><a href="#">Awards</a></li>
                      <li><a href="#">FAQs</a></li>
                      <li><a href="#">Work with us</a></li>
                      <li><a href="#">Contact Us</a></li> -->
                  </ul>

                 <!--  <ul>
                          <li>ABOUT COMPANY</li>
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Our Vision & Purpose</a></li>
                          <li><a href="#">Quality standards</a></li>
                          <li><a href="#">Awards</a></li>
                          <li><a href="#">FAQs</a></li>
                          <li><a href="#">Work with us</a></li>
                          <li><a href="#">Contact Us</a></li>
                      </ul>
 -->
                      <ul>
                              <li>DOWNLOAD THE APP</li>
                              <li class="inline-blk"><a href="https://play.google.com/store/apps/details?id=com.gogrocery&hl=en" target="_blank"><img src="assets/images/Layer 43.png"></a></li>
                              <li class="inline-blk"><a href="https://apps.apple.com/in/app/gogrocery/id1503352361" target="_blank"><img src="assets/images/Layer 44.png"></a></li>
                              
                          </ul>
                          <ul class="last">
                                <li class="head">CONNECT WITH US</li>
                                <li class="social">
                                    <a href="https://www.facebook.com/shopGoGrocery" target="_blank" title="Facebook"><span class="icon-facebook-letter-logo"></span></a>
                                    <a href="https://instagram.com/gogroceryapp" target="_blank" title="Instagram"><span class="icon-instagram-social-network-logo-of-photo-camera"></span></a>
                                </li>
                          </ul>
             
          </div>
          <div class="footerlast">
              <div class="copy_write">©{{currentYear}} GoGrocery. All rights reserved.</div>
              <div class="paymentcard">
                  <img src="assets/images/company_logo.png">
              </div>
          </div>
      </div>
  </div>
</footer>
