.storepic {
	cursor: pointer;
}

.storepic:hover {
	opacity: 0.8;
}

.backbtn {
	padding   : 10px;
	cursor    : pointer;
	text-align: left;
}

.back_icon {
	color: #000000;

}

.pop_upbg .popup_wrap {
	width  : 440px;
	padding: 0;
}

.pop_upbg .popup_wrap .selectstore {
	width: 100%;
}

.pop_upbg .popup_wrap .selectstore .selectpopbody {
	/* max-height: 390px;
	overflow: auto;
	align-items: start; */
}

.pop_upbg .popup_wrap .selectstore .selectpopbody .storeblog {
	align-items    : center;
	width          : 100%;
	/* height      : auto;
	justify-content: start;
	display        : inline-block;
	margin-left    : 65px; */
}

.text-block {
	position        : absolute;
	bottom          : 130px;
	right           : 4px;
	left            : 1px;
	background-color: yellow;
	color           : black;
	padding-left    : 20px;
	border-radius   : 5px;
	padding-right   : 20px;
	text-align      : center;
	font-weight     : 900;
}

.shopping_btn_section {
	padding: 20px;
}

.start-shopping-btn {
	background-color: rgb(152, 216, 29);
	color           : #fff;
	text-transform  : uppercase;
	border-radius   : 25px;
	width           : 100%;
	text-align      : center;
	justify-content : center;
	padding         : 10px;
	display         : flex;
}

.top_icon {
	padding-left: 80px;
}

.top_icon .icon_one {
	background-image : url('../../../../assets/images/Path10656.png');
	background-repeat: no-repeat;
	height           : 70px;
	width            : 70px;
}

.selectpopbody .storeblog .storecategory_selection {
	display        : flex;
	justify-content: space-between;
	align-items    : center;
	width          : 100%;
	padding        : 0 60px;

}

.storecategory_name {
	color: #000000;
}

::ng-deep .mat-slide-toggle-bar {
	width           : 70px !important;
	height          : 30px !important;
	border-radius   : 15px !important;
	background-color: transparent;
	border          : 1px solid #54832F;
}

::ng-deep .mat-slide-toggle-bar .mat-slide-toggle-thumb-container {
	top : 0;
	left: 0;
}

::ng-deep .mat-slide-toggle-bar .mat-slide-toggle-thumb-container .mat-slide-toggle-thumb {
	height: 28px;
	width : 28px;
}

::ng-deep .mat-slide-toggle-thumb {
	background-image   : url('../../../../assets/images/close-black-18dp.svg');
	background-color   : #54832F !important;
	background-size    : contain;
	background-position: center center;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background-color: rgb(152, 216, 29);

	background-image: url('../../../../assets/images/tick.svg');

	left               : 28px;
	position           : absolute;
	background-size    : contain;
	background-position: center center;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
	background-color: transparent !important;
	border          : 1px solid rgb(152, 216, 29);

}

::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
	height: 0 !important;
	width : 0 !important;
}

.heading {
	text-align   : center;
	color        : #000000;
	margin-bottom: 20px;
}

@media (max-width: 767px) {

	/* .pop_upbg .popup_wrap .selectstore .selectpopbody .storeblog {
		width: 100%;
		height: auto;
		max-width: 100% !important;
		display: inline-block;
		margin-left: 7px;
	} */
	.pop_upbg .popup_wrap{
		padding: 20px;
	}
	.pop_upbg .popup_wrap .selectstore .selectpopbody .storeblog .storecategory_selection {
		padding: 0;
	}

	.pop_upbg .popup_wrap .selectstore .selectpopbody .storeblog {
		width         : 100%;
		height        : auto;
		max-width     : 100% !important;
		display       : inline-block;
		position      : relative;
		/* margin-left: 11px;
		right         : -10px; */
	}

	.text-block {
		position        : absolute;
		bottom          : 118px;
		right           : 1px;
		left            : 1px;
		background-color: yellow;
		color           : black;
		padding-left    : 15px;
		border-radius   : 5px;
		padding-right   : 26px;
		text-align      : center;
		font-size       : 12px;
		font-weight     : 900;
	}
}

.pop_upbg .popup_wrap .selectstore .selectpopbody .storeblog .storename {
	font-size: 14px;
}