<section class="pop_upbg">
 	<div class="location delevary"> 
		<!-- <div class="subhead" (click)="goBack()">
			<a href="javascript:void(0)"><span class="icon-left-arrow"></span></a>
			Select delivary location
		</div> -->
		<div class="innercontain">
			<div class="locationicn"><span class="icon-scooter"></span></div>
			<p>Sorry, there are no such stores available in this area yet.</p>
		</div>
		<div class="btnrow">
			<button class="checkoutbtn" (click)="goBack()">OK</button>   
		</div>  
  	</div>
</section>