.error_message {
	margin: 0px auto;
	color: red;

}
@media screen and (max-width:700px){
.cdk-overlay-pane{
	left: 0!important;
    right: 0!important;
    transform: translateX(0px) translateY(0)!important;
}
}
.create_account_text.mt1 {
    margin-top: 1em;
}