label {
    font-weight: 500;
    font-size  : 16px;
}
h4{
    font-weight: 500;
    font-size: 20px;
}
.container{
    padding: 7.2% 0% 0% 3%;
    // margin-left: 45px;
    margin: 0% 5%;
    background: white;
    margin-right: 45px;
    overflow: hidden;
    border-radius: 3px;
    width: auto;
}
input{
    width: 25%;
}
::ng-deep .mat-checkbox-checked.mat-accent {
    .mat-checkbox-background,
    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: green;
    }
}
button{
    margin-top: auto;margin-bottom: 2%;width: 15%;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: gray;
}

::ng-deep.loader.progress {
    background-image: linear-gradient(90deg, rgba(136, 204, 151, 0), rgba(98, 81%, 23%, 1), rgba(255, 255, 255, 0)) !important;
}