<section class="pmc_order_con login-bg">
    <form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitForgotPwd(forgotForm.value)">
        <div class="login-box">
            <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
            <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
            <div class="clearfix"></div>
            <div class="login-heading">{{ 'LOGIN.forgot_password_heading' | translate }}</div>
            <div class="clearfix"></div>
            <p>{{ 'LOGIN.forgot_password_desc' | translate }}</p>
            <mat-form-field>
            <input matInput placeholder="{{ 'FIELD_PLACEHOLDER.email_placeholer_msg' | translate }}" required pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})" maxlength="40" #email="ngModel" name="email" ngModel>
            <mat-error *ngIf="email.errors && email.errors.required">
              {{ 'ERRORMSG.required_field_msg' | translate }}
            </mat-error>
            <mat-error *ngIf="email.errors && email.errors.pattern">
              {{ 'ERRORMSG.valid_email_msg' | translate }}
            </mat-error>
            </mat-form-field>      
            <div class="clear40"></div>
            <button mat-raised-button class="btn-main btn-lg btn-block">{{ 'LOGIN.send_email' | translate }}</button>
            <div class="clear20"></div>
            <button mat-button class="btn-main-ripple btn-block" type="button" [routerLink]="['/login']">{{ 'LOGIN.back_to_login' | translate }}</button>
        </div>
    </form>
</section>