
<section class="pmc_order_con login-bg">
  <form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitUpdatePwd(forgotForm.value,forgotForm)">
    <div class="login-box">

      <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
      <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
      <div class="clearfix"></div>
      <div class="login-heading">{{ 'LOGIN.reset_password_heading' | translate }}</div>
      <div class="clearfix"></div>
      <p>Note : Your password must contain atleast 1 Capital letter,1 special character, 1 number and lowercase letters and should have atleast 8 characters </p>
     
      <mat-form-field>
        <input matInput placeholder="{{ 'FIELD_PLACEHOLDER.password_placeholder_msg' | translate }}" [type]="!hide ? 'password' : 'text'" required #password="ngModel" name="password" ngModel pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}">
        <mat-icon matSuffix (click)="hide = !hide" class="{{hide ? 'icon-hidden-button' : 'icon-eye'}}"></mat-icon>
        <mat-error *ngIf="password.errors && password.errors.required">
          {{ 'ERRORMSG.required_field_msg' | translate }}
        </mat-error>
        <mat-error *ngIf="password.errors && password.errors.pattern">
          {{ 'ERRORMSG.valid_password_msg' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{ 'FIELD_PLACEHOLDER.confirm_password' | translate }}" [type]="!chide ? 'password' : 'text'" required #cpassword="ngModel" name="cpassword" ngModel validateEqual="password" >
        <mat-icon matSuffix (click)="chide = !chide" class="{{chide ? 'icon-hidden-button' : 'icon-eye'}}"></mat-icon>
        <mat-error *ngIf="cpassword.errors && cpassword.errors.required">
          {{ 'ERRORMSG.required_field_msg' | translate }}
        </mat-error>
        <mat-error *ngIf="cpassword.errors && !cpassword.validateEqual">
          {{ 'ERRORMSG.valid_cpassword_msg' | translate }}
        </mat-error>
      </mat-form-field>      
      
      <div class="clear40"></div>
      <button mat-raised-button class="btn-main btn-lg btn-block">{{ 'LOGIN.reset_password_heading' | translate }}</button>
      <div class="clear20"></div>
      <button mat-button class="btn-main-ripple btn-block" type="button" [routerLink]="['/login']">{{ 'LOGIN.back_to_login' | translate }}</button>
    </div>
  </form>
</section>

