<div class="conatiner">
    <div class="row header">
        <div class="col-md-8 stretch-card grid-margin">
            <h4>Enter Bill Number</h4>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <mat-icon matRipple class="modal_maticon" (click)="closeModal()">clear</mat-icon>
        </div>
    </div>
    <div class="body">
        <input (keyup.enter)="saveBillNumber()" placeholder="Bill Number" [(ngModel)]="bill_number" [value]="modaldata.data.billnumber"
        type="text" class="form-control">
    </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <button type="button"(click)="saveBillNumber()"
            class="btn btn-success globalbutton">Save</button>
    </div>