<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Enter New Password</h3>
              <h5 style="color:red">{{msg}}</h5>
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['newpassword', 'confirmPassword']" novalidate>
                  <div class="form-group">
                      <label for="newpassword">New Password</label>
                      <input type="password" class="form-control" name="newpassword" [(ngModel)]="model.newpassword" #newpassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newpassword.invalid }" required />
                      <div *ngIf="f.submitted && newpassword.invalid" class="invalid-feedback">
                          <div *ngIf="newpassword.errors.required">Password is required</div>
                      </div>
                  </div>
             
                  <div class="form-group">
                      <label for="confirmPassword">Confirm Password</label>
                      <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
                      <div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
                          <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-primary">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>