.mat-drawer-container{
    height: -webkit-fill-available;
}
.logout-menu{
    position: absolute;
    right: 2%;
    // mat-icon {
    //     margin: auto;
    //     top: 0px;
    //     bottom: 5px;
    // }
}
.mat-menu-item{
    border: none;
    color: none;
    border-color: none;
}
mat-toolbar{
    // position: fixed;
    // z-index: 10;
}
.navheader{
    position: fixed;
    z-index: 12;
}