<form #SubstituteProduct="ngForm" novalidate (ngSubmit)="SubstituteProduct.valid && saveSubstituteProduct()">
	<div class="pop_wrap">
		<div class="pop_cross" (click)="dialogRef.close();"><span class="icon-cancel"></span></div>
		<h4 mat-dialog-title>
			Add Substitute Product
	    </h4>
		<mat-dialog-content style="min-width: 500px;">
			<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
	   		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
			<div class="pop-body">
				<div class="box productbox">
					<div class="md-block">
						<mat-form-field appearance="outline"  class="md-block"><mat-label>SKU ID </mat-label>
							<input matInput placeholder="SKU ID" #sku="ngModel" name="sku" [(ngModel)]="formModel.sku" disabled>
						</mat-form-field>
			  		</div>

			  		<div class="md-block">
						<mat-form-field appearance="outline"  class="md-block"><mat-label>Product Name </mat-label>
							<input matInput placeholder="Product Name" #name="ngModel" name="name" [(ngModel)]="formModel.name" disabled>
						</mat-form-field>
			  		</div>

			  		<div class="md-block">
						<mat-form-field appearance="outline"  class="md-block"><mat-label>Unit Price </mat-label>
							<input matInput placeholder="Unit Price" #old_product_price="ngModel" name="old_product_price" [(ngModel)]="formModel.old_product_price" disabled>
						</mat-form-field>
			  		</div>

			  		<div class="md-block">
						<mat-form-field appearance="outline"  class="md-block"><mat-label>Quantity </mat-label>
							<input matInput placeholder="Quantity" #quantity="ngModel" name="quantity" [(ngModel)]="formModel.quantity" disabled>
						</mat-form-field>
			  		</div>

			  		<div class="md-block">
						<mat-form-field appearance="outline"  class="md-block"><mat-label>Shortage </mat-label>
							<input matInput type="number" placeholder="Shortage" #shortage="ngModel" name="shortage" [(ngModel)]="formModel.shortage" disabled>
						</mat-form-field>
			  		</div>

					<div class="md-block">
						<!-- <mat-form-field appearance="outline"  class="md-block"><mat-label>Substitute Product </mat-label>
							<mat-select required placeholder="Substitute Product" #sub_product_id="ngModel" name="sub_product_id" [(ngModel)]="formModel.sub_product_id"> 
								<mat-option *ngFor="let prod_list of formModel.sub_product_list"  [value]="prod_list.related_product_id" >{{prod_list.product_name}} [ {{prod_list.product_sku}} ]</mat-option>
							</mat-select>
							<mat-error *ngIf="sub_product_id.errors && sub_product_id.errors.required">
								Select substitute product
							</mat-error>
						</mat-form-field> -->


						<ng-select [items]="product_list" bindLabel="search_name" bindValue="id" placeholder="Substitute Product" appendTo="body" name="sub_product_list" [(ngModel)]="product_list.search_name"
						class="select_items_order" (search)="searchPRoduct($event)"  (change)="updateSubstitue($event)">
						</ng-select>	

			  		</div>
				</div>
			</div>
			<div class="clear"></div>
		</mat-dialog-content>
		<hr>
		<mat-dialog-actions layout="row" class="div-pop-bottom">
			<!-- <button mat-raised-button class="btn-main" type="submit">Save</button> -->
			<button mat-raised-button class="btn-main" type="button" (click)="saveSubstituteProduct()">Save</button>
			<button mat-raised-button [mat-dialog-close]="true" class="btn-line" type="button">Cancel</button>
		</mat-dialog-actions>
	</div>
</form>