<div class="conatiner">
    <div class="row header">
        <div class="col-md-12 stretch-card grid-margin">
            <h4>Product Return</h4>
        </div>
    </div>
    <div class="body">

        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <input placeholder="Date" type="date" class="form-control">
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <input placeholder="Order Number" type="text" class="form-control">
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <input placeholder="Shop Bill Number" type="text" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 stretch-card grid-margin">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="product">Product</mat-button-toggle>
                    <mat-button-toggle value="sku">SKU</mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <input placeholder="Product Name" type="text" class="form-control">
            </div>
            <div class="col-md-3 stretch-card grid-margin">
                <button type="button" class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
    </div>
</div>

