<div class="conatiner">
    <div class="row header">
        <div class="col-md-8 stretch-card grid-margin">
            <h4>Enter Bill Number</h4>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <mat-icon (click)="closeModal()">clear</mat-icon>
        </div>
    </div>
    <div class="body">
        <!-- <input placeholder="Email" [(ngModel)]="email" type="email" class="form-control"> -->

        <form [formGroup]="forrgotform" (ngSubmit)="forgotpassword()">
            <div class="form-group">
                <label for="useremail">Email</label>
                <input type="email" formControlName="useremail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.useremail.errors }" />
                <div *ngIf="submitted && f.useremail.errors" class="invalid-feedback">
                    <div *ngIf="f.useremail.errors.required">Email is required</div>
                </div>
            </div>
            <div style="text-align: -webkit-right;">
                <button (click)="closeModal()"  class="btn btn-light"> Cancel </button>
                <button type="submit" class="btn btn-light"> OK </button>
            </div>
            
        </form>
    </div>
    </div>