<div class="login-box">
	<form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitForgotPwd(forgotForm.value)">
		<h2>Forgot Password</h2>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
   		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
		<mat-form-field class="material">
	    	<input matInput placeholder="Email" required maxlength="40" #email="ngModel" name="email" ngModel pattern="[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}">
		    <mat-error *ngIf="email.errors && email.errors.required">
		      This is a <strong>required</strong> field
		    </mat-error>
		    <mat-error *ngIf="email.errors && email.errors.pattern">
		      Enter a valid <strong>email</strong> address
		    </mat-error>
		</mat-form-field>
		
        <div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6"><label class="text text-right"><a [routerLink] = "['/login']">Back to Login</a></label></div>
		</div>
        
		<button mat-raised-button  class="btn-black" type="submit" data-text="SEND EMAIL">SEND EMAIL</button>
		
	</form>
</div>

