<section class="right-part filter-pad addall_page">
  	<form #discountForm="ngForm" novalidate (ngSubmit)="discountForm.valid && addEditCouponCondition(discountForm)">
		<input type="hidden" name="discountId" [(ngModel)]="formModel.discountId">
	  	<div class="topheading">
		  	<h1>Discount Setup
			  	<div class="btn-header hidden-xs">
					<button type="submit" mat-raised-button class="btn-main">Continue</button>
		          	<button type="button" mat-raised-button class="btn-line" (click)="_globalService.deleteTab(tabIndex,parentId)">Cancel</button>
				  	<label class="hidden-xs hidden-sm">Fields marked with <span>*</span> are compulsory</label>
			  	</div>
			  	<div class="clear"></div>
		  	</h1>
	  	</div>
	  	<div class="filter">
		  	<div class="stap">
				<ul *ngIf="add_edit=='add'">
					<li><div class="nom"></div>Discount Information</li>
					<li class="active"><div class="nom"></div>Condition</li>
				</ul>
				<ul *ngIf="formModel.discountId>0 && add_edit=='edit'">
					<li *ngIf="discount_master_type==1"><a (click)="_globalService.setTab(tabIndex,'/discount_coupon/edit/'+formModel.discountId)" [routerLink]="['/discount_coupon/edit/'+formModel.discountId]"><div class="nom"></div>Discount Information</a></li>
					<li *ngIf="discount_master_type==0"><a (click)="_globalService.setTab(tabIndex,'/discount_product/edit/'+formModel.discountId)" [routerLink]="['/discount_product/edit/'+formModel.discountId]"><div class="nom"></div>Discount Information</a></li>
					<li class="active"><div class="nom"></div>Condition</li>
				</ul>
				<div class="clear"></div>
		  	</div>
	  	</div>
	  	<div class="clear"></div>	
  		<div class="body-part addorderbody addorderbodypart" *ngIf="_globalService.isFormLoaded == 'Yes'">
  			  
			<div class="box productbox">
			<div class="boxs active">
				<div class="box-header"> Set the condition for every discount</div>
				<div class="box-body">
					<ng-container *ngFor="let item of formModel.discount_filters; let index=index; let last=last;">
						<div class="coupon-condnew" >
							<div class="leftfield">
								<div class="col-12 col-md-4">
									<div class="mandatory-select">
										<mat-form-field appearance="outline" class="md-block">
										<mat-label>Discount Based On</mat-label>
										<mat-select required placeholder="Discount Based On" #field="ngModel" name="field{{index}}" [(ngModel)]="item.field" (selectionChange)="change_value(field.value,index)" (selectionChange)="get_conditions(field.value, index)">
											<mat-option *ngFor="let opt of discount_fields" [value]="opt.field.value">{{opt.field.name}}</mat-option>
										</mat-select>
										<mat-error *ngIf="field.errors && field.errors.required && (field.dirty || field.touched || discountForm.submitted)">
												This is a <strong>required</strong> field
										</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="mandatory-select">
										<mat-form-field appearance="outline">
										<mat-label>Condition</mat-label>
										<mat-select required placeholder="Condition" #condition="ngModel" name="condition{{index}}" [(ngModel)]="item.condition">
											<mat-option *ngFor="let opt of discount_conditions[index]" [value]="opt.value">{{opt.name}}</mat-option>
										</mat-select>
										<mat-error *ngIf="condition.errors && condition.errors.required && (condition.dirty || condition.touched || discountForm.submitted)">
											This is a <strong>required</strong> field
										</mat-error>
										</mat-form-field>
									</div>
								</div>
								<div class="col-12 col-md-4" >
									<mat-form-field class="md-block" appearance="outline" (click)="openPop(item.field,index)">
									<mat-label>Values</mat-label> 
										<input required matInput  #conditionValues="ngModel"  name="conditionValues{{index}}" [(ngModel)]="item.conditionValues"  [disabled]="item.is_pop">
										<mat-error *ngIf="conditionValues.errors && conditionValues.errors.required && (conditionValues.dirty || conditionValues.touched || discountForm.submitted)">
											This is a <strong>required</strong> field
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="iconfield">
								<button mdSuffix type="button" class="btn-gray-text" id="show_list{{index}}" mat-icon-button (click)="openPop(item.field,index)" *ngIf="item.is_pop"><i class="icon-table-grid"></i></button>
								<button type="button" class="margin-auto20" mat-icon-button (click)="removeRow(index)" *ngIf="formModel.discount_filters.length>1"><mat-icon class="icon-close"></mat-icon></button>
							</div>
						</div>
						<div class="clear10" *ngIf="last"></div>
						<button type="button" class="btn-pink" md-mini-fab (click)="addRow()" *ngIf="last"><i class="icon-add"></i></button>
						<label *ngIf="last" (click)="addRow()" class="ml-1 text-pink text-bold">Add new condition</label>
						
					</ng-container>
					<div class="clear"></div> 
				</div>
			</div>
			</div>
			<div class="clear"></div>
			<div class="btn-header hidden-xs">
				 <button type="submit" mat-raised-button class="btn-main">Continue</button>
				 <button type="button" mat-raised-button class="btn-line" (click)="_globalService.deleteTab(tabIndex,parentId)">Cancel</button>
			 </div> 
			 <div class="clear"></div>
		</div>
	</form>	
</section>