 <section class="right-part filter-pad">
    <form #PreviewImportDataProduct="ngForm" novalidate (ngSubmit)="PreviewImportDataProduct.valid && ImportPromotionData(PreviewImportDataProduct)">
        <div class="topheading">
            <h1>Preview Promotion Import
                <div class="btn-header">
                    <button mat-raised-button class="btn-main" type="submit">Continue</button>
                    <button mat-raised-button class="btn-line" type="button" (click)="globalService.deleteTab(tabIndex, parentId)">Cancel</button>
                </div>
                <div class="clear"></div>
            </h1>
        </div>
        <div class="body-part">
            <div class="table-list">
                <table>
                    <tr>
                        <th class="check-select">
                            <mat-checkbox name="selectedAll"  [(ngModel)]="selectedAll" id="list-all" (change)="toggleCheckAllPreview($event)"></mat-checkbox>
                        </th>
                        <th>Import Status</th>
                        <ng-container *ngFor="let col of columns">
                            <th>{{col.label}}</th>
                        </ng-container>                                             
                    </tr>
                    <tr [class.chec]="temp_rows.selected" [ngClass]="temp_rows.error=='1' ? 'checerror' : ''"  *ngFor="let temp_rows of temp_result_list" >
                        <td>
                            <mat-checkbox *ngIf="temp_rows.error == 0" name="temp_rows.Selected" id="list{{temp_rows.id}}" [checked]="temp_rows.selected" (change)="toggleCheckPreview(temp_rows.id,$event)"></mat-checkbox>
                        </td>
                        <td><p *ngFor="let error_msg of temp_rows.error_message">
                          {{error_msg}}
                        </p>
                        </td>
                        <ng-container *ngFor="let col of columns">
                            <td *ngIf="col.field_name!='disc_start_date' && col.field_name!='disc_end_date'">{{temp_rows[col.field_name]}}</td>
                            <td *ngIf="col.field_name=='disc_start_date'">{{temp_rows[col.field_name] | date:'fullDate'}}</td>
                            <td *ngIf="col.field_name=='disc_end_date'">{{temp_rows[col.field_name] | date:'fullDate'}}</td>
                        </ng-container>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clear"></div>
        <!-- <div class="btn-header hidden-xs">
            <button mat-raised-button class="btn-main" type="submit">Continue</button>
            <button mat-raised-button class="btn-line" type="button" (click)="globalService.deleteTab(tabIndex, parentId)">Cancel</button>
        </div> 
        <div class="clear"></div> -->
    </form> 
</section>