.mat-drawer-container{
    height: -webkit-fill-available;
  }
  .mat-sidenav-container {
    background: #aed86e;
  }
  .logout-menu{
    // position: absolute;
    // right: 2%;
    // mat-icon {
    //     margin: auto;
    //     top: 0px;
    //     bottom: 5px;
    // }
    position: fixed;
    right: 11%;
  }
  .mat-ripple {
    overflow: visible;
    position: relative;
}
  .mat-menu-item{
    border: none;
    color: none;
    border-color: none;
  }
  mat-toolbar{
    // position: fixed;
    // z-index: 10;
  }
  .navheader{
    position: fixed;
    z-index: 12;
    width: -webkit-fill-available;
    overflow: hidden;
    display: inline-flex;
  }
  .title{
    margin: auto;
    // width: 40%;
    font-family:'proxima' !important;
    
  }
  @media only screen and (max-width: 360px) {
    .title{
      margin: auto;
      width: 82% !important;
      white-space: pre-wrap !important;
    }
}

@media only screen and (max-width: 1300px) {
  .title{
    margin: auto;
    width: 25%;
    
  }
}
a:hover {
  background-color: #aed86e !important;
  color: white;
}
.active-link {
  background-color: #93C88D !important;
  color: white;
}