<section class="pop_upbg">
<div class="loginbox location" style="padding: 20px;">
    <!-- <div class="crossbtn"><a href="javascript:void(0)"><span class="icon-cross_sml"></span></a></div> -->
    <div class="head">Location Service</div>
    <div class="innercontain">
        <div class="locationicn"><span class="icon-map-pin-marked"></span></div>
        <p><span>GoGrocery</span> uses location services in order to determine proximity of listed business and only while you are using the application</p>
        <button class="checkoutbtn" (click)="enableLocation()">Enable Location Service</button>  
         
    </div>
</div>
</section>
