<div class="loada" *ngIf="popupLoder">
	<mat-spinner></mat-spinner>
</div>
<form #stockForm="ngForm" novalidate (ngSubmit)="stockForm.valid && moveStock(stockForm)">
	<input type="hidden" name="product_id" [(ngModel)]="formModel.product_id">
	<div class="md-toolbar-tools">
		<h2 md-dialog-title>Move Quantity </h2>
		<button type="submit" mat-raised-button class="btn-main hidden-sm hidden-xs">Save</button>
		<button type="button" mat-raised-button class="btn-line hidden-sm hidden-xs" (click)="closeDialog()">Cancel</button>
	</div>
	<mat-dialog-content>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
   		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
		<div class="pop-body" layout="column">
			
			<mat-form-field class="md-block">
				<input matInput type="number" min="1" placeholder="Qty" required #qty="ngModel" name="qty" [(ngModel)]="formModel.qty" validateMin="1">
				
			    <mat-error *ngIf="qty.errors && qty.errors.required">
			      This is a <strong>required</strong> field
			    </mat-error>
			    <mat-error *ngIf="qty.errors && !qty.errors.validateMin">
			      Please enter a <strong>minimum value</strong> of 1
			    </mat-error>
			</mat-form-field>
			
		  	
		  	<div class="mandatory-select">
					<mat-form-field>
				<mat-select required placeholder="From Warehouse" #from_warehouse="ngModel" name="from_warehouse" [(ngModel)]="formModel.from_location" disabled>
					<mat-option *ngFor="let warehouse of warehouse_list" [value]="warehouse.id">{{warehouse.name}}</mat-option>
				</mat-select>
				<mat-error *ngIf="from_warehouse.errors && from_warehouse.errors.required && (from_warehouse.dirty || from_warehouse.touched || stockForm.submitted)">
			      This is a <strong>required</strong> field
					</mat-error>
					</mat-form-field>
		    </div>

		    <div class="mandatory-select">
					<mat-form-field>
				<mat-select required placeholder="To Warehouse" #to_warehouse="ngModel" name="to_warehouse" [(ngModel)]="formModel.to_location">
					<mat-option *ngFor="let warehouse of warehouse_list" [value]="warehouse.id" [disabled]="warehouse.id==formModel.from_location">{{warehouse.name}}</mat-option>
				</mat-select>
				<mat-error *ngIf="to_warehouse.errors && to_warehouse.errors.required && (to_warehouse.dirty || to_warehouse.touched || stockForm.submitted)">
			      This is a <strong>required</strong> field
					</mat-error>
					</mat-form-field>
		    </div>
		  	
		    <mat-form-field class="md-block">
	  			<!-- <input disabled readonly="readonly" matInput placeholder="Transaction Date" #received_date="ngModel"  name="received_date" [(ngModel)]="formModel.received_date" [value]="formModel.received_date | date: 'shortDate'" dateTimePicker [minMoment]="minDate" [pickerType]="'date'"> -->

	  			<input disabled readonly="readonly" matInput [matDatepicker]="picker" required placeholder="Transaction Date" (focus)="picker.open()"  name="received_date" #received_date="ngModel" [(ngModel)]="formModel.received_date">
				 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>

		    </mat-form-field>
		
		  	
		</div>
		<div class="clear"></div>
	</mat-dialog-content>			
	<mat-dialog-actions layout="row">
		<label class="hidden-sm hidden-xs">Fields marked with <span class="error">*</span> are compulsory.</label>
	  	<span flex></span>
	  	<button type="submit" mat-raised-button class="btn-main">Save</button>
		<button type="button" mat-raised-button class="btn-line" (click)="closeDialog()">Cancel</button>
	</mat-dialog-actions>
</form>
