<section class="right-part filter-pad inner_listing">
	<div class="topheading">
		<h1 class="autoclick">Stock Management</h1>
	</div>
	<div class="innertab_sec top-header-btn">
		<div class="tabhedouter">
			<div class="whouse" >
				<mat-form-field appearance="outline">
					<mat-select class="m-0" floatPlaceholder="never" placeholder="Select Warehouse" #warehouse="ngModel" name="warehouse"
					 [(ngModel)]="default_warehouse" (selectionChange)="callbackLoadStock(default_warehouse)">
						<mat-option *ngFor="let warehouse of warehouse_list" [value]="warehouse.id">{{warehouse.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div style="width: 200px; float: right; padding-top: 12px">
				<mat-slide-toggle class="ml-1 hide_out_of_stock_class" aria-labelledby labelPosition="after" [(ngModel)]="hide_out_of_stock"
					(change)="reload(1,'','',hide_out_of_stock,'')">Hide out of stock</mat-slide-toggle>
			</div>
		</div>
		<div class="serch_and_filtersec">
			<div class="serch_sec">
				<a href="javascript:void(0)"><span class="icon-search1"></span></a>
				<input type="text" placeholder="Search..." #search="ngModel" [(ngModel)]="search_text" (keyup.enter)="reload(1,1,'',filter,search.value)">
			</div>
			<div class="filter_section">
				<button class="button hide-btn" (click)="FiltertoggleCheck($event)"><span class="icon-filter"></span></button>
				<button class="button hide-btn"><span class="icon-columns" (click)="loadColumnLayout()"></span></button>
				<button class="button" [matMenuTriggerFor]="tools"><span class="icon-menu"></span></button>
				<mat-menu #tools="matMenu" xPosition="before" [overlapTrigger]="false">
					<button mat-menu-item (click)="openImportBox()">
						<mat-icon class="icon-import"></mat-icon> Import
					</button>
					<!-- <button mat-menu-item *ngIf="permission.export=='Y' && childData.is_export=='Y'" (click)="OpenExportPopUp()">
						<mat-icon class="icon-import"></mat-icon> Export
					</button> -->
					<button mat-menu-item (click)="exportStockRequest()">
						<mat-icon class="icon-export"></mat-icon> Export
					</button>
				</mat-menu>
			</div>
		</div>
	</div>
	<div class="action-box">
		<!-- <label> {{bulk_ids.length}} Selected  (out of all {{config.currentPageCount}}) </label> -->
		<!-- <button mat-button><mat-icon  class="icon-search"></mat-icon>View</button> -->
		<!-- ///////////Edit////////////// -->
		
		<button mat-button (click)="manageStock('Increase')"><mat-icon  class="icon-add"></mat-icon>Increase Quantity</button>
		<button mat-button (click)="manageStock('Decrease')"><mat-icon  class="icon-minus"></mat-icon>Decrease Quantity</button>
		<button mat-button (click)="moveStock()"><mat-icon  class="icon-refresh"></mat-icon>Move Items</button>
		<button mat-button (click)="safetyStock()" *ngIf="selected_item.real_stock>0"><mat-icon  class="icon-products-promotions"></mat-icon>Safety Stock</button>

		<!-- <button mat-button *ngIf="permission.edit=='N'" (click)="dialogsService.alert('Permission Error', 'You have no permission to edit!')"><mat-icon  class="icon-edit"></mat-icon>Edit</button> -->

		<button mat-icon-button  class="white-ripple pull-right"  (click)="reload(0,'','','','')"><mat-icon  class="icon-close"></mat-icon></button>
	</div>
	<div class="action-box orderfilter">
		<div class="datepic_sec">
				<div class="filtericon"><a href="javascript:void(0)"><span class="icon-filter"></span></a></div>
				<div class="serchtagbox" *ngFor="let item of advanced_search; let i=index">
					<p >{{item.show_name}}  
						<span *ngIf="!item.comparer" class="icon-equal"></span>
						<span *ngIf="item.comparer==1" class="icon-equal"></span>
						<span *ngIf="item.comparer==2" class="icon-mathematical_symbol"></span>
						<span *ngIf="item.comparer==3" class="icon-start-contains"></span>
						<span *ngIf="item.comparer==4" class="icon-end-contains"></span>
						<span *ngIf="item.comparer==5" class="icon-contains"></span>
						<span *ngIf="item.comparer==6" class="icon-not-contains"></span>
						<span *ngIf="item.comparer==7" class="icon-right"></span>
						<span *ngIf="item.comparer==8" class="icon-left"></span>
						<span class="icon-equals"></span> 
						<i *ngIf="item.key2=='n' || item.key2=='y'; else notShow">
							<p *ngIf="item.key2=='n'">
								Active
							</p>
							<p *ngIf="item.key2=='y'">
									Inctive
								</p>
						</i>
							
							<ng-template #notShow>
								
								<p *ngIf="item.key2; else showKey">
										{{item.key2}}
								</p>
								<ng-template #showKey>
									<p>
											{{item.key}}
									</p>
								</ng-template>
							</ng-template>
						<a href="javascript:void(0)" (click)="remove_filter(i)"><span class="icon-close"></span></a>
						
					</p>
				</div>
				<div class="filterdrop_wrap">
						<mat-form-field appearance="outline">
							<input  matInput placeholder="Select a column"  [matAutocomplete]="tdAuto" name="field_name" #field_name="ngModel" [(ngModel)]="formModel.field_name" (ngModelChange)="load_fiter_column()" >
						</mat-form-field>
						<mat-autocomplete  #tdAuto="matAutocomplete" >
							<mat-option  *ngFor="let item of field_arr; let i=index;" [value]="item.field" (click)="get_data(item,i)">
								<span >{{item.columns}}</span>
							</mat-option>
						</mat-autocomplete>
						<!-- search tag -->
				<div class="meta_keywordbox" id="meta_keywordbox" >
						<div class="headsec">{{formModel.field_name_show}}</div>
						<form #formdata="ngForm"  (ngSubmit)="formdata.valid && sendSearchData()">
								<div class="innerbox">
										<div class="innrow">
											<div class="dropbtn">
												<div class="dop_icnbox">
													<span class="icon-equal" *ngIf="!formModel.search_type"></span>
													<span class="icon-equal" *ngIf="formModel.search_type=='1'"></span>
													<span class="icon-mathematical_symbol" *ngIf="formModel.search_type=='2'"></span>
													<span class="icon-start-contains" *ngIf="formModel.search_type=='3'"></span>
													<span class="icon-end-contains" *ngIf="formModel.search_type=='4'"></span>
													<span class="icon-contains" *ngIf="formModel.search_type=='5'"></span>
													<span class="icon-not-contains" *ngIf="formModel.search_type=='6'"></span>
													<span class="icon-right" *ngIf="formModel.search_type=='7'"></span>
													<span class="icon-left" *ngIf="formModel.search_type=='8'"></span>
												</div>
												<mat-select  class="myFilter" #search_type="ngModel" name="search_type" [(ngModel)]="formModel.search_type" >
														<mat-option *ngFor="let item of ConditionArr" [value]="item.type" >{{item.name}}</mat-option>
												</mat-select>
											</div>
											<div class="inputsec" *ngIf="formModel.input_type=='text'">
												<mat-form-field appearance="outline">
													<input matInput  placeholder="Type here" #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data">
												</mat-form-field>
											</div>
											<div class="inputsec" *ngIf="formModel.input_type=='float'">
												<mat-form-field appearance="outline">
													<input matInput  type="number" placeholder="Enter value" #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data">
												</mat-form-field>
											</div>
											<div class="inputsec" *ngIf="formModel.input_type=='select'" >
													<mat-form-field appearance="outline">
														<mat-select #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data" placeholder="Search here" #singleSelect [multiple]="false" >
															<ngx-mat-select-search [formControl]="bankMultiFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Nothing Found"></ngx-mat-select-search>
															<mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank.id" (click)="change_search_val(bank.name)">
																{{bank.name}}
															</mat-option>
														</mat-select>
													</mat-form-field>
											</div>
											<div class="inputsec" *ngIf="formModel.input_type=='multi_select'">
												<mat-form-field appearance="outline">
													<mat-select #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data" placeholder="Search here" #singleSelect [multiple]="true">
														<ngx-mat-select-search [formControl]="bankMultiFilterCtrl" name="auto_search" placeholderLabel="Search" noEntriesFoundLabel="Nothing Found"></ngx-mat-select-search>
														<mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank.id" (click)="change_search_val(bank.name)">
															{{bank.name}}
														</mat-option>
													</mat-select>
												</mat-form-field>
										</div>
											<div class="inputsec" *ngIf="formModel.input_type=='fix_select'">
												<mat-form-field appearance="outline">
													<mat-select class="myFilter"  #search_data="ngModel" name="search_data" placeholder="Select" [(ngModel)]="formModel.search_data"  (ngModelChange)="get_select_data()" >
															<mat-option *ngFor="let select_item of selectArr" [value]="select_item.id" (click)="change_search_val(select_item.name)">{{select_item.name}}</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="inputsec" *ngIf="formModel.input_type=='date'">
												<mat-form-field appearance="outline">
													<input matInput  placeholder="Select date" [owlDateTime]="picker1" [owlDateTimeTrigger]="picker1" (focus)="picker1.open()" #search_data="ngModel" name="search_data" [(ngModel)]="formModel.search_data">
													<owl-date-time #picker1></owl-date-time>
												</mat-form-field>
											</div>
										</div>
										<div class="footer">
											<a href="javascript:void(0)" class="cnc" (click)="cancel_filter()">Cancel</a>
											<a href="javascript:void(0)" class="apl" (click)="sendSearchData()">Apply</a>
										</div>
								</div>
							</form>
					</div>
				</div>
				<!-- search tag -->
		</div>

			<!--  <button mat-icon-button  class="white-ripple pull-right"  (click)="generateGrid(0,'','','','',show_item_wise_order)"><mat-icon  class="icon-close"></mat-icon></button> -->
			<button mat-icon-button  class="white-ripple pull-right" (click)="CloseFilter($event)"><mat-icon  class="icon-close"></mat-icon></button>
	</div>
	<div class="body-part">
			<div class="table-list">
					<table>
						<tr>
							<th class="check-select">&nbsp;</th>
							<th class="short" (click)="reload(0,1,'id',filter,search.value)">ID<span [class]="(sortBy=='id')?sortClass:''"></span></th>
							<th class="short" (click)="reload(0,1,'last_modified',filter,search.value)">Last Modified<span [class]="(sortBy=='last_modified')?sortClass:''"></span></th>
							<th class="short" (click)="reload(0,1,'name',filter,search.value)">Item Name<span [class]="(sortBy=='product_name')?sortClass:''"></span></th>
							<th class="short" (click)="reload(0,1,'sku',filter,search.value)">SKU<span [class]="(sortBy=='sku')?sortClass:''"></span></th>
							<th class="short" (click)="reload(0,1,'qty',filter,search.value)">Qty.<span [class]="(sortBy=='qty')?sortClass:''"></span></th>
							<th class="short" (click)="reload(0,1,'safety_stock',filter,search.value)">Safety Stock<span [class]="(sortBy=='safety_stock')?sortClass:''"></span></th>
							<th class="short" (click)="reload(0,1,'real_stock',filter,search.value)">Real Stock<span [class]="(sortBy=='real_stock')?sortClass:''"></span></th>
						</tr>
						<tr [class.chec]="row.selected"  *ngFor="let row of stock_list">
								<td data-th="">
									<mat-checkbox name="row.Selected" id="list{{row.id}}" [checked]="row.selected" (change)="toggleCheck(row.id,$event)"></mat-checkbox>
								</td>
								<td data-th="ID">{{row.id}}</td>
								<td data-th="Last Modified">{{row.last_modified}}</td>
								<td data-th="Item Name">{{row.product_name}}</td>
								<td data-th="SKU">{{row.sku}}</td>
								<td data-th="Qty">{{row.qty}}</td>
								<td data-th="Safety Stock">{{row.safety_stock}}</td>
								<td data-th="Real Stock">{{row.real_stock}}</td>
							</tr>
							<tr *ngIf="stock_list.length==0">
								<td colspan="8" align="center">No records found</td>
							</tr>
				</table>
			</div>
		</div>
		<div class="clear"></div>
	</section>
<div class="pagination-box" *ngIf="pagination.total_page>1">
	<span *ngFor="let list of total_list | paginate: config"></span>
	<pagination-template #p="paginationApi" [id]="config.id"  (pageChange)="reload(0,$event,'',hide_out_of_stock,search.value)" [maxSize]="maxSize"> 
		<ul class="pagination">
				<li class="pagination-previous" [class.disabled]="p.isFirstPage()" *ngIf="!p.isFirstPage()">
						<a  (click)="p.previous()"><span class="icon-left"></span></a>
				</li>
				<li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
						<a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
								<span>{{ page.label }}</span>
						</a>
						<a *ngIf="p.getCurrent() === page.value">
								<span>{{ page.label }}</span>
						</a>
				</li>
				<li class="pagination-next" [class.disabled]="p.isLastPage()" *ngIf="!p.isLastPage()">
						<a  (click)="p.next()"><span class="icon-right"></span></a>
				</li>
		</ul>
	</pagination-template>
	</div>
<div class="clear"></div>