


<div class="page_name_blog">
<div class="cus_container">
<ul>
  <li><a href="#">Home</a><span>/</span></li>
  <li><a href="#">Category</a><span>/</span></li>
  <li><a href="#">Sub Category</a></li>
</ul>
</div>
</div>

<section>
<div class="banner_wrap">
<div class="banner_main innpage_banner_main" style="background-image:url(assets/images/home_image.png);">
 
</div>
</div>
</section>

<section>
<div class="middle_contain_wrap listing">
  <div class="cus_container">
      <div class="row gutter-10">
          <div class="col-12 col-lg-12">
              <div class="left_panel">
                 <div class="innerblog">
                     <div class="head">CATEGORIES</div>
                     <div class="sub">Fruits & Vegetables</div>
                     <div class="categories">
                         <ul>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                            <li><a href="#">Exotic Fruits & Veggies<span>(94)</span></a></li>
                            <li><a href="#">Flower Bouquets, Bunches <span>(3)</span></a></li>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                            <li><a href="#">Cuts & Sprouts <span>(142)</span></a></li>
                        </ul>
                     </div>
                 </div>
                 <div class="innerblog">
                        <div class="head">Brand
                            <div class="serchicn">
                                <a href="javascript:void(0)"><span class="icon-search_bold"></span></a>
                                <div class="serchbox">
                                    <input type="text" placeholder="Serch Brand">
                                    <a href="#"><span class="icon-cancel"></span></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="categories brand">
                            <ul>
                               <li><span><mat-checkbox></mat-checkbox></span><a href="#">BB Combo </a></li>
                               <li><span><mat-checkbox></mat-checkbox></span><a href="#">Brotos</a></li>
                               <li><span><mat-checkbox></mat-checkbox></span><a href="#">Fresho Tadaa</a></li>
                               <li><span><mat-checkbox></mat-checkbox></span><a href="#">Tadaa</a></li>
                           </ul>
                        </div>
                 </div>
                 <div class="innerblog">
                    <div class="head">Brand</div>
                    <div class="categories price">
                        <div class="innrow">put your price range</div>
                        <div class="innrow pricerange">
                            <div class="pricerangebox">12345.00</div>
                            <div class="pricerangebox">123.00</div>
                        </div>
                    </div>
                 </div>

                 <div class="innerblog">
                    <div class="head">PACK SIZE
                        <div class="serchicn expended">
                            <a href="javascript:void(0)"><span class="icon-search_bold"></span></a>
                            <div class="serchbox">
                                <input type="text" placeholder="Serch Brand">
                                <a href="#"><span class="icon-cancel"></span></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="categories brand">
                        <ul>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">100g - 250g</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">250g - 500g</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">500g - 1kg</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">1kg - 5kg</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">1kg - 5kg</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">1 pc 500g - 800g</a></li>
                           <li><a style="padding-left:28px; color: #C9252B" href="#">+ 5 more</a></li>
                       </ul>
                    </div>
                </div>

                <div class="innerblog">
                    <div class="head">DISCOUNT</div>
                    
                    <div class="categories brand">
                        <ul>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">10% and above</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">20% and above</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">30% and above</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">40% and above</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">50% and above</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">60% and above</a></li>
                           <li><span><mat-checkbox></mat-checkbox></span><a href="#">70% and above</a></li>
                       </ul>
                    </div>
                </div>

              </div>
              <div class="right_panel">
                    <div class="row">
                        <div class="col-12">
                            <div class="head">
                                <div class="row align-items-center">
                                  <div class="col">
                                    <h4>Fruits & Vegitables<span>- 3340 items</span></h4>
                                  </div>
                                  <div class="col-auto">
                                     <mat-form-field appearance="outline"> 
                                          <mat-label>Sort by:</mat-label>                                    
                                        <mat-select>
                                            <mat-option value="volvo">Volvods dfsga</mat-option>
                                            <mat-option value="saab">Saab</mat-option>
                                            <mat-option value="mercedes">Mercedes</mat-option>
                                            <mat-option value="audi">Audi</mat-option>
                                        </mat-select>
                                       
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="chiper_sec">
                                <div class="chip">Fruits<a href="#"><span class="icon-cancel"></span></a></div>
                                <div class="chip">Fruits<a href="#"><span class="icon-cancel"></span></a></div>
                                <p><a href="#">clear All</a></p>
                            </div>
                        </div>
                    </div>
                 
                   <div class="row">
                       <div class="col-12 col-lg-12">
                           <div class="list_productrow">
                               
                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                                    <div class="list_productblog">
                                            <div class="imagebox">
                                                    <img src="assets/images/Layer 9.png">
                                            </div>
                                            <div class="textbox">
                                                    <div class="textrow">
                                                       <p><span>Fresho</span>Fresh Tomatoes</p>
                                                    </div>
                                                    <div class="textrow">
                                                            <mat-form-field appearance="outline">
                                                                                                 
                                                                    <mat-select matNativeControl aria-placeholder="sass">
                                                                        <mat-option value="volvo">Volvods dfsga</mat-option>
                                                                        <mat-option value="saab">Saab</mat-option>
                                                                        <mat-option value="mercedes">Mercedes</mat-option>
                                                                        <mat-option value="audi">Audi</mat-option>
                                                                    </mat-select>
                                                                   
                                                                </mat-form-field> 
                                                    </div>
                                                    <div class="textrow">
                                                        <p class="pricerow">$35.00 <span>$50.00</span> <span class="off">(30% OFF)</span></p>  
                                                    </div>
                                                    <div class="textrow last">
                                                        <div class="count_box">
                                                            <button class="count_btn"><span class="icon-minus_bold"></span></button>
                                                                <div class="count_no">5</div>
                                                            <button class="count_btn"><span class="icon-add-plus"></span></button>
                                                        </div>
                                                        <div class="likebox"><a class="liked" href="#"><span class="icon-valentines-heart"></span></a> </div>
                                                    </div>
                                            </div>
                                    </div>

                              
                           </div>
                       </div>
                   </div>

                   <div class="pagination">
                       <div class="previewbtn"><a href="#"><span class="icon-left-arrow"></span>Preview</a></div>
                       <div class="pagicountbox">
                           <span><a href="#">1</a></span>
                           <span><a href="#" class="active">2</a></span>
                           <span><a href="#">3</a></span>
                           <span><a href="#">4</a></span>
                           <span><a href="#">5</a></span>
                           <span><a href="#">6</a></span>
                       </div>
                       <div class="previewbtn"><a href="#">Next<span class="icon-right-arrow"></span></a></div>
                   </div>
             </div>
          </div>
         
      </div>
  </div>
</div>
</section>
