<div class="conatiner">
    <div class="row main-header">
        <div class="col-md-12 stretch-card grid-margin">
            <h4>Product Promotions</h4>
        </div>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-12 stretch-card grid-margin col-left">
                <button (click)="addnewUI()" type="button" style="margin-right: 1%;"
                    class="btn btn-outline-secondary globalbutton">Add New Promotion</button>
            </div>
        </div>

        <ng-container *ngIf="addnewpromotions">
                <!-- discount Based on -->
                <div class="row">

                    <div class="col-md-3 col-left grid-margin">
                        <label for="parentcat">Discount Based On</label>
                        <select #parentcat (change)="setDiscountbased($event)" class="browser-default custom-select">
                            <option value="category" selected>CATEGORY</option>
                            <option value="sku">SKU</option>
                            <option value="orderAmount">Order Amount</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-left grid-margin" *ngIf="masterconditionsinputSelectins === 'category'">
                        <label for="parentcat">Parent Category</label>
                        <select #parentcat (click)="opencategory_modal('Category')" class="browser-default custom-select">
                            <option selected> Select Category </option>
                            <option *ngIf="parentcategory.name" selected [ngValue]="parentcategory.name">
                                {{parentcategory.name}}
                        </select>
                    </div>
                    <div class="col-md-2 col-left grid-margin" *ngIf="masterconditionsinputSelectins === 'category'">
                        <label for="childcat">Child Category</label>
                        <select #childcat (click)="opensub_category_modal('Sub Category')"
                            class="browser-default custom-select">
                            <option selected>Select Child Category</option>
                            <option *ngIf="subcategory.name" selected [ngValue]="subcategory.name">{{subcategory.name}}
                        </select>
                    </div>
                    <div class="col-md-2 col-left grid-margin" *ngIf="masterconditionsinputSelectins === 'orderAmount'">
                        <label for="parentcat">Values</label>
                        <input [(ngModel)]="promotionsAttribute.orderAmount" placeholder="Enter amount" type="number"
                            class="form-control">
                    </div>
                    <div class="col-md-2 col-left grid-margin" *ngIf="masterconditionsinputSelectins !== 'orderAmount'">
                        <label for="parentcat">Values</label>
                        <input [(ngModel)]="promotionsAttribute.productSku" (click)="openproductSKU('')"
                            placeholder="Enter product sku" type="text" class="form-control">
                    </div>
                </div>
            <div class="row">
                <div class="col-md-2 col-left grid-margin">
                    <label for="parentcat">Old Price</label>
                    <input disabled [(ngModel)]="promotionsAttribute.oldprice" placeholder="Old Price" type="text"
                        class="form-control">
                </div>
                <div class="col-md-2 col-left grid-margin">
                    <label for="parentcat">New Price</label>
                    <input [(ngModel)]="promotionsAttribute.newprice" placeholder="Enter New Price" type="text"
                        class="form-control">
                </div>
                <div class="col-md-2 col-left grid-margin">
                    <label for="parentcat">Discount Start</label>
                    <input class="dateinput" [owlDateTime]="datestart" [(ngModel)]="discountStartDate"
                        [owlDateTimeTrigger]="datestart" placeholder="Start Time">
                    <owl-date-time #datestart></owl-date-time>
                </div>
                <div class="col-md-2 col-left grid-margin">
                    <label for="parentcat">Discount End</label>
                    <input class="dateinput" [(ngModel)]="discountEndDate" [owlDateTime]="dateend"
                        [owlDateTimeTrigger]="dateend" placeholder="End Time">
                    <owl-date-time #dateend></owl-date-time>
                </div>
                <div class="col-md-3 col-left grid-margin">
                    <label for="parentcat">Discount Name</label>
                    <input [(ngModel)]="promotionsAttribute.discountName" placeholder="Enter product name" type="text"
                        class="form-control">
                </div>
            </div>
        
            <!-- save promotions -->
            <div class="row">
                <div class="col-md-12 stretch-card grid-margin col-left">
                    <button (click)="addNewPromocode()" type="button" style="margin-right: 1%;"
                        class="btn btn-outline-secondary globalbutton">Add New</button>
                    <button (click)="updatePromotioncode()" type="button" style="margin-right: 1%;"
                        class="btn btn-outline-secondary globalbutton">Update
                        Now</button>
                </div>
            </div>
        </ng-container>

        <!-- data table -->
        <table class="table">
            <th>Name</th>
            <th>Start Date</th>
            <th>Expiry Date</th>
            <th>Discount Amount</th>
            <th>Discount Type</th>
            <th>Status</th>
            <ng-container *ngFor="let list of promocodelist['data']; let i = index">
                <ng-container *ngIf="list.warehouse_id == promotionsAttribute.warehouse_id">
                    <tr (click)="setupdateStatus(list)">
                        <td>{{list.name}}</td>
                        <td>{{list.disc_start_date}}</td>
                        <td>{{list.disc_end_date}}</td>
                        <td>{{list?.amount}}</td>
                        <td>{{list?.disc_type}}</td>
                        <td>{{list?.disc_end_date | datecompare}}</td>
                    </tr>
                </ng-container>
        </ng-container>
        </table>
    </div>
</div>