<section class="container">
  <div class="row">
      <div class="col-12">
        <div class="successwrap">
            <div class="tickicon"><span class="icon-iconfinder_v-10_3162599"></span></div>
           <div class="successtext">Thank you, you have successfully added substitute products.</div>
            <!-- <div class="orderid_box">Your order ID : <span>{{orderId}}</span></div> -->
            <div class="shopping" [routerLink]="['/home']">CONTINUE SHOPPING</div>
            <!-- <h1>{{pageData | json}}</h1> -->
        </div>
      </div>
  </div>    
</section>