<div class="conatiner">
    <div class="row main-header">
        <div class="col-md-12 stretch-card grid-margin">
            <h4>Manage Stock</h4>
        </div>
    </div>
    <div class="body">

        <div class="row">
            <div class="col-md-3 stretch-card grid-margin col-left">
                <select (click)="opencategory_modal('Category')" class="browser-default custom-select">
                    <option selected>Category</option>
                    <option *ngIf="parentcategory.name" selected [ngValue]="parentcategory.name">{{parentcategory.name}}

                </select>
            </div>
            <div class="col-md-3 stretch-card grid-margin col-left">
                <select (click)="opensub_category_modal('Sub Category')" class="browser-default custom-select">
                    <option selected>Sub Category</option>
                    <option *ngIf="subcategory.name" selected [ngValue]="subcategory.name">{{subcategory.name}}
                </select>
            </div>
            <div class="col-md-3 stretch-card grid-margin col-left">
                <select class="browser-default custom-select" [(ngModel)]="stockStatus">
                    <option value="" selected>Stock</option>
                    <option value="y">In-stock</option>
                    <option value="n">Out of stock</option>
                </select>
            </div>
            <div class="col-md-3 stretch-card grid-margin col-left">
                <select class="browser-default custom-select" [(ngModel)]="cat_price">
                    <option value="" selected>Has Price</option>
                    <option value="y">Yes</option>
                    <option value="n">No</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 stretch-card grid-margin col-left">
                <div class="search-container">
                    <div class="custom-input">
                        <input  (keyup.enter)="searchProducts('search')" [(ngModel)]="userOrderdata.searchProductvalue" placeholder="Search for product" type="text" class="form-control">
                        <!-- <mat-icon class="right-icon">search</mat-icon> -->
                    </div>
                    <!-- <button type="button" class="btn btn-outline-secondary">Scan</button> -->
                    <button type="button" (click)="searchProducts('search')" class="btn btn-outline-secondary">Search</button>
                </div>
            </div>
        </div>
        <div class="row"   class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="0.01"
        [scrollWindow]="false"
 
        [infiniteScrollThrottle]="500"
        [alwaysCallback]="true"
        (scrolled)="onScrollDown($event)" >
            <div class="col-md-12 stretch-card grid-margin table-data">
                <table class="table">
                    <th colspan="5">Product Info</th>
                    <th colspan="3.5">Price</th>
                    <th colspan="3.5">Stock</th>
                    <tr *ngFor="let plist of pickerProductList['data'];let i=index">
                        <td colspan="6">
                            <div style="display: flex;">
                                <img class="productimg" *ngIf="plist?.product_images"
                                    [src]="plist?.product_images[0]?.link+''+plist?.product_images[0]?.img" alt="">
                                    <img  class="productimg" *ngIf="!plist?.product_images" src="assets/images/product/defaultproductimg.jpg">
                                <div>
                                    <h6>{{plist?.name}}</h6>
                                    <span>{{plist?.weight}} {{plist?.uom_name}}</span>
                                </div>
                            </div>
                        </td>
                        <td colspan="3.5">
                            <strong>AED
                                {{plist?.channel_currency_product_price?.price}}</strong><br>
                            <span class="editprice" (click)="editprice($event,plist?.channel_currency_product_price?.price,plist?.id,i,plist?.product_stock?.stock)">edit Price</span>
                        </td>
                        <td colspan="3.5">
                            <!-- <h5>switch button</h5> -->
                            <mat-slide-toggle (change)="onChange($event,plist?.channel_currency_product_price?.price,plist?.id,i)" [checked]="plist?.product_stock?.stock > 0"></mat-slide-toggle>
                        </td>
                    </tr>

                    <!-- Skeleton and empty state-->
                    <tr>
                        <td  *ngIf="!pickerProductList['data']?.length && IsDataLoaded === true">
                            <ngx-skeleton-loader style="width: 100%;" *ngFor="let item of [1,2,3,4]"></ngx-skeleton-loader>
                        </td>
                        <td  *ngIf="!pickerProductList['data']?.length  && IsDataLoaded === false">
                             <!-- if data not found -->
                            <app-emptystate></app-emptystate>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>
</div>