<section class="right-part">
    <div class="body-part">
        <form #formData="ngForm" novalidate (ngSubmit)="formData.valid && addEditPriceFormula(formData)">
            <input type="hidden" name="formId" [(ngModel)]="formModel.formId">
            <div class="topheading">
                <h1>{{(formModel.formId>0)?'Edit':'Add'}} Price Calculation
            <div class="btn-header">
            <div class="btn-header">
                <button type="submit" mat-raised-button class="btn-main">Save</button>
                <button type="button" mat-raised-button class="btn-line" (click)="_globalService.deleteTab(tabIndex,parentId)">Cancel</button>
              </div>
          </div>
          <div class="clear"></div>
          </h1> </div>
            <div class="clear"></div>
            <div class="box">
                <div class="fixed-width">
                    <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
                    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline"  class="md-block"><mat-label>Formula Name</mat-label>
                                        <input matInput placeholder="Formula Name" required #formula_name="ngModel" name="formula_name" [(ngModel)]="formModel.formula_name" pattern="^(?!\s*$|\s).*$">
                                        <mat-error *ngIf="formula_name.errors && formula_name.errors.required"> This is a <strong>required</strong> field </mat-error>
                                        <mat-error *ngIf="formula_name.errors && formula_name.errors.pattern"> White space is not allowed at beginning.</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" ><mat-label>Formula Based On</mat-label>
                                        <mat-select  placeholder="Formula Based On" #based_on="ngModel" name="based_on" [(ngModel)]="formModel.based_on">
                                            <mat-option  value="cost">Cost Price</mat-option>
                                            <mat-option  value="selling">Selling Price</mat-option>
                                        </mat-select> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline" ><mat-label>Condition Type</mat-label>
                                        <mat-select required placeholder="Condition Type" #condition_type="ngModel" name="condition_type" [(ngModel)]="formModel.condition_type">
                                            <mat-option  value="+">+ (Plus)</mat-option>
                                            <mat-option  value="-">- (Minus)</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="condition_type.errors && condition_type.errors.required"> This is a <strong>required</strong> field </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field appearance="outline"  class="md-block"><mat-label>Margin(%)</mat-label>
                                        <input matInput placeholder="Margin(%)" required #margin="ngModel" name="margin" [(ngModel)]="formModel.margin" pattern="^\d*\.?\d*$">
                                        <mat-error *ngIf="margin.errors && margin.errors.required"> This is a <strong>required</strong> field </mat-error>
                                        <mat-error *ngIf="margin.errors && margin.errors.pattern"> This is not a <strong>valid</strong> input </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <mat-radio-group required #formula_for="ngModel" name="formula_for" [(ngModel)]="formModel.formula_for">
                                        <mat-radio-button class="example-margin" value="customer">
                                          Customer
                                        </mat-radio-button>
                                        <mat-radio-button class="example-margin" value="vendor">
                                          Vendor
                                        </mat-radio-button>
                                    </mat-radio-group>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ///////////////Buttons//// -->
                <div class="btn-header hidden-xs">
                    <button type="submit" mat-raised-button class="btn-main">Save</button>
                    <button type="button" mat-raised-button class="btn-line" (click)="_globalService.deleteTab(tabIndex,parentId)">Cancel</button>
                </div>
                <div class="clear"></div>
                <!-- ///////////////Buttons//// -->
            </div>
            <div class="clear"></div>
        </form>
    </div>
</section>