.body{
    padding-top: 4%;
}
.header1 {
    border-bottom: 1px solid gray;
    height       : 30px;
  
    h4 {
        font-weight: 500;
    }
  

    mat-icon {
        right   : 0px;
        position: absolute;
    }
  }